@font-face {
    font-family: "Agency FB";
    src: url("AgencyFB.eot"); /* IE9 */
    src: url("AgencyFB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AgencyFB.woff") format("woff"), /* chrome, firefox */
    url("AgencyFB.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AgencyFB.svg#AgencyFB") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "AgencyFB";
    src: url("AgencyFB-Bold.eot"); /* IE9 */
    src: url("AgencyFB-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AgencyFB-Bold.woff") format("woff"), /* chrome, firefox */
    url("AgencyFB-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AgencyFB-Bold.svg#AgencyFB") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: bold;
}

