@font-face {
    font-family: "PFDinTextCondProBold";
    src: url("pfdintextcondpro-bold.eot"); /* IE9 */
    src: url("pfdintextcondpro-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pfdintextcondpro-bold.woff") format("woff"), /* chrome, firefox */
    url("pfdintextcondpro-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("pfdintextcondpro-bold.svg#PFDinTextCondProBold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: bold;
}


