@import url("/thermevo_website_management/static/src/fonts/PFDinTextCondPro/pfdintextcondpro-regular.css");
@import url("/thermevo_website_management/static/src/fonts/PFDinTextCondPro/pfdintextcondpro-bold.css");

#drawing-page {
    background: url("/thermevo_website_management/static/src/images/bg-drawing.jpg") center top no-repeat;
    min-height: 1000px;
    background-size: cover
}

#drawing-page .header {
    background-color: transparent
}

#drawing-page .header .header-wrapper {
    padding-top: 17px;
    display: flex;
    justify-content: space-between
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .header .header-wrapper {
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 395px
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .header .header-wrapper {
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 280px
    }

    #drawing-page .header .header-wrapper .header-left {
        width: 100%
    }

    #drawing-page .header .header-wrapper .header-right {
        display: block !important;
        margin: 0 auto
    }
}

#drawing-page .header .header-wrapper .header-right {
    display: flex
}

#drawing-page .header .header-wrapper .header-right .watch-on-map a.link {
    text-decoration: underline dashed;
    margin-right: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: flex
}

#drawing-page .header .header-wrapper .header-right .watch-on-map a.link span.map-icon {
    display: block;
    background: url("/thermevo_website_management/static/src/images/map-icon.png") top center;
    width: 21px;
    height: 27px;
    margin-right: 7px
}

#drawing-page .header .header-wrapper .header-right .watch-on-map a.link span:last-child {
    padding-top: 3px
}

#drawing-page .header .header-wrapper .header-right .phone-number a {
    display: block;
    padding-top: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase
}

#drawing-page .main-wrapper .first-block .first-block__row {
    padding-top: 95px;
    display: flex;
    justify-content: space-between
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row {
        padding-top: 55px;
        display: block
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row {
        padding-top: 20px;
        display: block
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 {
    color: #fff
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 {
        margin-bottom: 70px
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 {
        margin-bottom: 70px
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .title {
    font-family: "PFDinTextCondProBold";
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #d33032;
    padding: 18px 38px 16px 40px;
    text-align: center;
    margin-bottom: 29px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .title {
        text-align: center
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .title {
        text-align: center;
        padding: 10px
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .subtitle {
    font-family: "PFDinTextCondProRegular";
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 37px
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .subtitle {
        font-size: 32px
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .text {
    font-family: "PFDinTextCondProBold";
    font-size: 131px;
    font-weight: 700;
    line-height: 109px;
    text-transform: uppercase;
    margin-bottom: 39px
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .text p {
    width: 450px;
    margin: 0 auto;
    text-align: center
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .text p {
        width: 100%;
        font-size: 100px
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .when {
    text-align: center;
    background: #2fc1e6;
    padding: 21px 75px 21px 73px
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .when {
        padding: 10px
    }

    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .when span.dash {
        display: none
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .when span {
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .when span.dash {
    color: #1463b2;
    font-weight: 400
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 {
    font-family: "PFDinTextCondProBold";
    background-color: #e6ca0e;
    border-radius: 50%;
    text-align: center;
    max-width: 337px;
    max-height: 337px;
    padding-top: 75px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 {
        margin: 0 auto;
        max-width: 450px;
        max-height: 332px;
        padding-top: 80px;
        min-height: 275px
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 {
        width: 100%;
        min-height: 275px;
        padding-top: 90px;
        margin: 0 auto
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2:after {
    content: '';
    position: relative;
    display: block;
    background: url("/thermevo_website_management/static/src/images/curved-arrow.png");
    background-repeat: no-repeat;
    height: 277px;
    left: 92px;
    top: 40px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2:after {
        display: none
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2:after {
        display: none
    }
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 .title {
    color: #e62e4c;
    font-size: 40px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 22px
}

#drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 .subtitle {
    color: white;
    text-shadow: -11.3px 8.2px 9px rgba(0, 0, 0, 0.17);
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
    left: 30px;
    text-align: center;
    margin-left: -65px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 .subtitle {
        margin-left: -130px;
        left: 62px
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column2 .subtitle {
        font-size: 40px
    }
}

#drawing-page .main-wrapper .second-block {
    margin-top: 80px
}

#drawing-page .main-wrapper .second-block .form-itself {
    background: #0e2b7d;
    min-height: 415px
}

#drawing-page .main-wrapper .second-block .form-itself form {
    width: 830px;
    margin: 0 auto;
    padding-top: 77px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .second-block .form-itself form {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .second-block .form-itself form {
        width: 100%
    }
}

#drawing-page .main-wrapper .second-block .form-itself form .title {
    font-family: "PFDinTextCondProBold";
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px
}

#drawing-page .main-wrapper .second-block .form-itself form .title p {
    color: white
}

#drawing-page .main-wrapper .second-block .form-itself form .title p span {
    color: #e6ca0e
}

#drawing-page .main-wrapper .second-block .form-itself form .form-rows .form-row {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .second-block .form-itself form .form-rows .form-row {
        display: block;
        padding-bottom: 0
    }
}

#drawing-page .main-wrapper .second-block .form-itself form .form-rows .form-row input {
    height: 50px;
    width: 49%
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .second-block .form-itself form .form-rows .form-row input {
        width: 100%;
        margin-bottom: 10px
    }
}

#drawing-page .main-wrapper .second-block .form-itself form .form-rows .form-row input[placeholder] {
    color: #2f2f2f;
    padding-left: 22px
}

#drawing-page .main-wrapper .second-block .form-itself form .button {
    text-align: center
}

#drawing-page .main-wrapper .second-block .form-itself form .button input[type=submit] {
    font-family: "PFDinTextCondProRegular";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background: #e62e4c;
    width: 247px;
    margin: 0 auto;
    border: none;
    color: #fff;
    box-shadow: -8.1px 5.9px 9px rgba(0, 0, 0, 0.2);
    padding: 22px 35px
}

#drawing-page .main-wrapper .third-block {
    min-height: 500px
}

#drawing-page .main-wrapper .third-block .third-block__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .third-block .third-block__row {
        display: block
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .third-block .third-block__row {
        display: block
    }
}

#drawing-page .main-wrapper .third-block .third-block__row .ball {
    background-image: url("/thermevo_website_management/static/src/images/ball.png");
    width: 502px;
    height: 504px;
    position: relative;
    top: -56px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .third-block .third-block__row .ball {
        margin: 0 auto;
        background-repeat: no-repeat;
        position: static
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .third-block .third-block__row .ball {
        display: none
    }
}

#drawing-page .main-wrapper .third-block .third-block__row .text {
    max-width: 592px;
    color: #fff;
    padding-top: 122px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page .main-wrapper .third-block .third-block__row .text {
        padding-top: 50px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px
    }
}

@media screen and (max-width: 767px) {
    #drawing-page .main-wrapper .third-block .third-block__row .text {
        padding-top: 40px;
        text-align: center;
        margin-bottom: 40px
    }
}

#drawing-page .main-wrapper .third-block .third-block__row .text .title {
    font-family: "PFDinTextCondProBold";
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 35px
}

#drawing-page .main-wrapper .third-block .third-block__row .text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px
}

#drawing-page .main-wrapper .map {
    max-height: 550px
}

#drawing-page #drawing-footer .form-itself {
    background-image: url("/thermevo_website_management/static/src/images/drawing-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 410px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page #drawing-footer .form-itself {
        background-image: none;
        background: #0e2b7d
    }
}

@media screen and (max-width: 767px) {
    #drawing-page #drawing-footer .form-itself {
        background-image: none;
        background: #0e2b7d
    }
}

@media screen and (max-width: 1199px) {
    .first-block__row_column1 .text p {
        color: #990000;
        text-shadow: -1px -1px 0 #FEFEFE,
        1px -1px 0 #FEFEFE,
        -1px 1px 0 #FEFEFE,
        1px 1px 0 #FEFEFE;
    }
}

#drawing-page #drawing-footer .form-itself form {
    width: 830px;
    margin: 0 auto;
    padding-top: 77px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #drawing-page #drawing-footer .form-itself form {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    #drawing-page #drawing-footer .form-itself form {
        width: 100%
    }
}

#drawing-page #drawing-footer .form-itself form .title {
    font-family: "PFDinTextCondProBold";
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px
}

#drawing-page #drawing-footer .form-itself form .title p {
    color: white
}

#drawing-page #drawing-footer .form-itself form .title p span {
    color: #e6ca0e
}

#drawing-page #drawing-footer .form-itself form .form-rows .form-row {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between
}

@media screen and (max-width: 767px) {
    #drawing-page #drawing-footer .form-itself form .form-rows .form-row {
        display: block
    }
}

@media screen and (max-width: 767px) {
    #drawing-page #drawing-footer .form-itself form .form-rows .form-row {
        padding-bottom: 0px
    }
}

#drawing-page #drawing-footer .form-itself form .form-rows .form-row input {
    height: 50px;
    width: 49%
}

@media screen and (max-width: 767px) {
    #drawing-page #drawing-footer .form-itself form .form-rows .form-row input {
        width: 100%;
        margin-bottom: 10px
    }
}

#drawing-page #drawing-footer .form-itself form .form-rows .form-row input[placeholder] {
    color: #2f2f2f;
    padding-left: 22px
}

#drawing-page #drawing-footer .form-itself form .button {
    text-align: center
}

#drawing-page #drawing-footer .form-itself form .button input[type=submit] {
    font-family: "PFDinTextCondProRegular";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background: #e62e4c;
    width: 247px;
    margin: 0 auto;
    border: none;
    color: #fff;
    box-shadow: -8.1px 5.9px 9px rgba(0, 0, 0, 0.2);
    padding: 22px 35px
}

main {
    display: block !important;
}

#wrapwrap.scrolled {
    padding: 0;
}

@media screen and (min-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .text p {
        text-shadow: -1px -1px 0 #990000, 1px -1px 0 #990000, -1px 1px 0 #990000, 1px 1px 0 #990000;
    }

    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .first_text p {
        width: 100%;
    }

    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .subtitle {
        text-shadow: -1px -1px 0 #990000, 1px -1px 0 #990000, -1px 1px 0 #990000, 1px 1px 0 #990000;
    }
}

@media screen and (max-width: 1199px) {
    #drawing-page .main-wrapper .first-block .first-block__row .first-block__row_column1 .text p {
        width: auto;
    }
}

@media screen and (min-width: 1199px) {

}

}
