header, main, footer {
    display: list-item !important;
}

#wrapwrap {
    display: inline-block !important;
}

.cart .cart_item .cart_article .cart_article_text {
    padding-left: 25px;
    display: table-cell;
    vertical-align: middle
}

.cart .cart_item .cart_article {
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 10px
}

a.attachment:hover, a.attachment:focus {
    color: #428bca;
}

.current a {
    color: #fff !important;
}

.modal-open .modal {
    height: 25%;
    width: 40%;
    margin: 100px auto;
    background: #fff;
    font-size: 13px;
    border: 0;
    color: #000;
    text-align: center;
}

#link_question_dialogue {
    margin-top: 30px;
    text-align: center;
}

.modal-open .close {
    background: #e62e4c;
    color: #fff;
    position: relative;
    font-size: 13px;
    top: 70px;
    opacity: 1;
    left: -200px;
    width: 5em;
    height: 2em;
    font-weight: 100;
    text-shadow: none;
}

.matrix-label-checked {
    background: #e62e4c !important;
}

#three-blocks {
    overflow: hidden;
}

/*#header .section {*/
    /*margin-top: -35px;*/
/*}*/

@media screen and (max-width: 639px) and (min-width: 320px) {
    #iqub-container .section .content.catalog .list-products .product {
        margin-left: 0px;
    }

    .delivery .form-action .red-btn-link {
        float: none;
        display: block;
        font-size: 20px;
    }

    .cart .cart_item .cart_item_buttons input[type="submit"] {
        float: right;
        margin-left: 5px;
    }

    .cart .cart_item .cart_item_buttons input[type="button"] {
        float: right;
    }

    .cart .cart_item .cart_item_buttons input[type="text"] {
        float: left;
        margin-right: 0;
        width: 92px;
    }
}

#cabinet-container.cabinet-post-cart .buttons .buttom_blue {
    cursor: pointer;
}

.adress-form .select-wrap select {
    padding-right: 37px;
    border: none;
    height: 35px;
    width: calc(100% + 20px);
    font-size: 17px;
    line-height: 17px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    background: transparent;
}

.adress-form .select-wrap {
    border-bottom: 1px solid #161d26;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: url("/thermevo_website_management/static/src/images/bg-select-product.png?1441459109") #fff center right no-repeat;
    content: "\0020";
    height: 36px;
    width: 440px;
    margin-top: 12px;
}

.contacts2-menu3-container .form-actions input[type=button], .contacts2-menu1-container .form-actions input[type=button] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 30px;
}

.contacts2-menu3-container .form-actions:hover input[type=button], .contacts2-menu1-container .form-actions:hover input[type=button] {
    background-color: #ff4060;
}

.css_qty_uom {
    float: left;
    width: 50%;
    margin-right: 0;
}

.css_price_uom {
    width: 50%;
}

#cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .quantity > span {
    width: 75px;
}

#cabinet-container.cabinet-post-cart .comments ul li .author .author_img img {
    display: block;
    width: 100px;
}

.product-info .left .message-error,
.product-info .right .message-error {
    background-color: #f9cbd3;
    color: #161d26;
    font-size: 13px;
    padding: 20px;
    position: relative;
    margin: 10px 0px;
    margin-top: 30px;
    line-height: 19px;
}

.product-info .right .message-error .close,
.product-info .left .message-error .close {
    background-image: url('/thermevo_website_management/static/src/images/message_error_close.png?1442843541');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
}

.create-article-add-slider-container .add-slider-actions .preview a {
    color: #161d26;
}

div.confirm_result .confirm_result_title a {
    color: #015995;
    text-decoration: none;
    font-weight: bold;
}

#no_adhesive_no_form span img {
    margin-top: -58px;
    margin-bottom: -58px;
}

.left div.img.col-sm-7.col-md-7.col-lg-7 {
    margin-bottom: 22px;
}

#iqub-container .section .page-product.content .product-info .left .desc [data-oe-type=html]:empty {
    height: initial !important;
    padding-bottom: 60px;
    background-image: none !important;
}

#iqub-container .section .page-product.content .product-info .left .desc .oe_structure.oe_empty:empty:before,
#iqub-container .section .page-product.content .product-info .left .desc [data-oe-type=html]:empty:before {
    content: none !important;
}

#iqub-container .section .page-product.content .block_filtr button[type=button].white-btn.cancel-reset {
    background: #c7e3f6;
    width: 430px;
    font-size: 17px;
}

/*----for hide your photo button-----------*/
.section .profile-content .preview input[type="button"] {
    -webkit-border-radius: 0;
    background-color: white;
    color: #161d26;
    border: 1px solid #d3dae1;
    -moz-border-radius: 0;
    display: block;
    height: 60px;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.section .profile-content .preview:hover input[type="button"] {
    background-color: #d3dae1;
}

/*-------------*/

/*----------for company_info_delivery_address page-----*/
.adress-form h6 {
    font-size: 30px;
}

.create-article-add-slider-container .add-slider-actions .save {
    background-color: #fff
}

.create-article-add-slider-container .add-slider-actions .preview {
    background-color: #fff
}

.create-article-add-slider-container .add-slider-actions .sent submit {
    padding: 0 16px 0 16px;
}

.t a {
    color: #5d6978;
}

.t a:hover, a:focus {
    color: #5d6978;
}

#footer .top .right .social-container a.twitter {
    background: url('/thermevo_website_management/static/src/images/twitter_icon.png?1442855570');
    background-repeat: no-repeat;
    background-position: center;
}

.cart .cart_item .cart_item_buttons input[type="button"] {
    width: 82px;
    height: 40px;
    text-align: center;
    color: white;
    background: #2a6496;
    border: 0px;
}

.cart .cart_item .cart_item_buttons input[type="text"] {
    margin-left: 0px;
}

.cart .cart_item .cart_item_buttons {
    width: 320px;
}

#cabinet-container.cabinet-post-cart .cart_item .cart_article .img {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 40px;
    padding-bottom: 10px;
    text-align: center;
    height: 125px;
    max-width: 230px;
}

#cabinet-container.cabinet-post-cart .terms_conditions img {
    display: block;
    width: 72px;
}

.confirmation_final {
}

.confirmation_final h3 {
    font-size: 24px;
}

.confirmation_final ol li {
    font-size: 17px;
}

.about_us_display_info {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 13.3333px;
    font-style: italic;
    white-space: pre-wrap;
    line-height: 24.2857px;
}

.red-btn-link.link-ref a {
    color: #fff;
}

#cabinet-menu ul li.message-page .count {
    background-color: #015995;
}

#cabinet-container.cabinet-post-cart .cart_item .cart_article .img {
    width: 175px;
    padding: 30px 0px 0 0;
    height: 200px
}

#cabinet-container.cabinet-post-cart .cart_item .cart_article .cart_article_text {
    width: 80%;
}

.message-g {
    background: #002865 url("/thermevo_website_management/static/src/images/header_message_ico.jpg") no-repeat scroll right 10px center;
    padding: 0 35px 0 10px;
    font-size: 15px;
}

.popup-container h2 {
    max-width: 100%;
}

#contact_call_display_choose_file_button .chose_file {
    border: 1px solid #161d26;
    color: #161d26;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    margin-top: 20px
}

#contact_call_display_choose_file_button .chose_file:hover {
    background: #d3dae1
}

#contact_call_display_choose_file_button .attached_files {
    position: relative;
    margin-top: 20px;
    display: none
}

#contact_call_display_choose_file_button .attached_files:first-child {
    margin-top: 0px
}

#contact_call_display_choose_file_button .uploaded_file_close {
    background-image: url("/thermevo_website_management/static/src/images/message_error_close.png?1443437597");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 10px
}

#contact_call_display_choose_file_button .attached_files input {
    display: none
}

#cabinet-container.cabinet-post-cart .upload_files_form .attached_files.uploaded {
    display: block
}

.basket .basket_steps .basket_step.selectd_prev a:focus {
    color: #fff;
}

.pagination ul li.current a:hover {
    background-color: #015995;
}

#error_message_option_page .message-error {
    background-color: #f9cbd3;
    color: #161d26;
    font-size: 13px;
    padding: 20px;
    position: relative;
    margin: 10px 0px;
    margin-top: 30px;
    line-height: 19px;
}

#error_message_option_page .message-error .close {
    background-image: url('/thermevo_website_management/static/src/images/message_error_close.png?1442843541');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
}

.form-action.t a:hover, a:focus {
    color: #fff;
}

a.read-more {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

.editorial-choice .summary a {
    color: #161d26;
}

.blog_article .summary a {
    color: #161d26;
}

.ckeditor_image {
    max-width: 1160px !important;
}

.help-anchor .ckeditor_image {
    max-width: 550px !important;
    height: auto !important;
}

.what .ckeditor_image {
    max-width: 700px !important;
    height: auto !important;
}

.profile-content .ckeditor_image {
    max-width: 900px !important;
    height: auto !important;
}

.block_filtr .ckeditor_image {
    max-width: 570px !important;
    height: auto !important;
}

.confirm_img_confirmation_page .ckeditor_image {
    max-width: 900px !important;
    height: auto !important;
}

.my-articles-sort .ckeditor_image {
    max-width: 690px !important;
    height: auto !important;
}

.ck_editor_img .ckeditor_image {
    max-width: 900px !important;
    height: auto !important;
}

.confirm_result_title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.all-quotation-date {
    font-size: 18px;
    font-weight: bold;
}

#registration-form .right .form-item .error-text,
#registration-form .right .form-item .pwd-error-text,
#login-form .right .form-item .error-text,
#login-form .right .form-item .pwd-error-text {
    color: #e62e4c;
    display: none;
    font-size: 13px
}

#registration-form .right .form-item.error .error-text,
#registration-form .right .form-item.pwd-error .pwd-error-text,
#login-form .right .form-item.error .error-text,
#login-form .right .form-item.pwd-error .pwd-error-text {
    display: block;
}

#registration-form .right .form-item.error input[type=password],
#registration-form .right .form-item.error input[type=email],
#registration-form .right .form-item.pwd-error input[type=password],
#login-form .right .form-item.error input[type=password],
#login-form .right .form-item.pwd-error input[type=password],
#login-form .right .form-item.errorbox input[type=password] {
    border: 1px solid #e62e4c;
}

.create-article-add-slider-container .image-preview .images-preview-canvas {
    height: 290px;
    width: 440px;
}

#iqub-container.blog .swiper-slide img {
    margin-bottom: 40px;
}

/* login page button css */
.login-right .login-register-link {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #d3dae1;
    border-top: 1px solid #d3dae1;
    border-bottom: 1px solid #d3dae1;
    color: #161d26;
    display: inline-block;
    font-size: 17px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.login-right .login-register-link:hover {
    background-color: #d3dae1;
}

.login-right .login-register-link.mobile {
    display: none;
}

#login-regiter-info .r.r2 {
    margin-bottom: 20px;
}

.login-right .login-register-link:before {
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #d3dae1;
    border-bottom: 30px solid transparent;
    height: 0;
    position: absolute;
    right: -30px;
    top: -1px;
    width: 0;
}

.login-right .login-register-link:after {
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 30px solid transparent;
    height: 0;
    position: absolute;
    right: -29px;
    top: -1px;
    width: 0;
}

.login-right .login-register-link:hover:after {
    border-top: 30px solid transparent;
    border-left: 30px solid #d3dae1;
    border-bottom: 30px solid transparent;
}

.login-right .login-register-link-container {
    margin-top: 20px;
    margin-bottom: 35px;
}

#iqub-container.blog.blog-post .block-post .blog_article {
    width: 34%;
}

#iqub-container.blog.blog-post .block-post .blog_article:last-child {
    width: 32%;
}

.list-adresses .add-adress {
    cursor: pointer;
}

.delivery .form_part .select-wrap {
    width: inherit;
}

.adress-form .select-wrap {
    width: inherit;
}

/* fix for Edit button view*/
.modal {
    top: 0;
}

.modal-open .modal {
    height: 500px;
    background: None;
}

.modal.in .modal-dialog {
    display: table;
}

.modal-dialog {
    width: 520px;
}

.modal-open .close {
    top: -5px;
    left: auto;
    right: -10px;
}

.modal.get_link_dialogue {
    height: 180px;
    background: white;
}

.modal.get_link_dialogue .close {
    top: 30px;
    margin-right: 225px;
}

.my-articles-container .my-articles-sort .query_wrap.active .reply {
    width: 100%
}

#iqub-container.catalog3 .section .filtr .menu .btn-filtr {
    margin: 0 20px 20px 0;
}

#id2_max_width:focus {
    color: #161d26;
}

#id2_max_width {
    color: #A0A0A0;
}

#id1_min_width:focus {
    color: #161d26;
}

#id1_min_width {
    color: #A0A0A0;
}

.profile-content .my-articles-table a:hover {
    color: #015995;
}

.profile-content .my-articles-table a:focus {
    color: #015995;
}

.cart .basket_steps .basket_step a:focus {
    color: #161d26;
}

.basket .basket_steps .basket_step.active a:focus {
    color: #fff;
}

.query_wrap.active .reply a:hover {
    color: #e62e4c;
}

.query_wrap.active .reply a:focus {
    color: #e62e4c;
}

.query_wrap.active .reply a {
    color: #e62e4c;
}

#cabinet-container.cabinet-post-cart .basket_steps .basket_step a:hover {
    color: #161d26;
}

#cabinet-container.cabinet-post-cart .basket_steps .basket_step a:focus {
    color: #161d26;
}

#cabinet-container.cabinet-post-cart .basket_steps .basket_step.active a:hover {
    color: #fff;
}

#cabinet-container.cabinet-post-cart .basket_steps .basket_step.active a:focus {
    color: #fff;
}

.breadcrumbs a:focus {
    color: #e62e4c;
}

#video-bg a:focus {
    color: #e62e4c;
}

.red-btn-link:focus {
    color: #fff;
}

/*For save button on personal profile page*/
#profile-edit-form .form-left .form-actions button[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 30px;
}

/*For Chose picture label on personal profile page*/
#profile-edit-form .form-right .change-picture {
    line-height: 60px;
}

/*for loader image */
#loader_image {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    padding: 250px 0 0 36%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

/* for upload drawing section on prodcut catalog page*/
#iqub-container .section .content .title {
    padding-top: 20px;
}

#iqub-container.catalog3 .section .filtr .menu {
    padding-bottom: 20px;
}

#iqub-container .section .page-product.content .product-info .right .error input[type=text] {
    border: 1px solid #e62e4c;
    box-shadow: None;
}

#iqub-container .section .page-product.content .product-info .right input[type=text] {
    box-shadow: None;
}

#iqub-container .section .page-product.content .product-info .right .error-length input[type=text] {
    border: 1px solid black;
    box-shadow: None;
}

#iqub-container .section .page-product.content .product-info .right .error-length.error input[type=text] {
    border: 1px solid #e62e4c;
    box-shadow: None;
}

/*styles for contact call page*/
.contact_call_attach .chose_file {
    border: 1px solid #161d26;
    color: #161d26;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    margin-top: 20px
}

.contact_call_attach .chose_file:hover {
    background: #d3dae1
}

.contact_call_attach .attached_files {
    position: relative;
}

.contact_call_attach .file_name_box {
    height: 40px;
    line-height: 40px;
    border: 1px solid #161d26;
    padding-left: 20px;
    box-sizing: border-box;
    width: calc(100% - 30px);
    display: none;
}

.contact_call_attach .uploaded_file_close {
    background-image: url('/thermevo_website_management/static/src/images/message_error_close.png?1442843541');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 10px
}

.contact_call_attach .uploaded_file {
    display: hidden;
}

.contacts2-menu3-container .error textarea {
    border: 1px solid #e62e4c;
}

.upload_scheme_attach .chose_file {
    border: 1px solid #161d26;
    color: #161d26;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    margin-top: 20px
}

.upload_scheme_attach .chose_file:hover {
    background: #d3dae1
}

.upload_scheme_attach .attached_files {
    position: relative;
}

.upload_scheme_attach .file_name_box {
    height: 40px;
    line-height: 40px;
    border: 1px solid #161d26;
    padding-left: 20px;
    box-sizing: border-box;
    width: calc(100% - 30px);
    display: none;
}

.upload_scheme_attach .uploaded_file_close {
    background-image: url('/thermevo_website_management/static/src/images/message_error_close.png?1442843541');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 10px
}

.upload_scheme_attach .uploaded_file {
    display: hidden;
}

#sendfile {
    display: inline-table
}

/* style for company information delivery address page */
.list-adresses .list-adresses-links a {
    cursor: pointer;
}

/* style for VAT varification in delivery address page */
#delivery_address_form .form-info {
    color: #5d6978;
    display: none;
    font-size: 13px;
    margin: 20px 0;
    width: 100%;
}

#delivery_address_form .form-info.success,
#delivery_address_form .form-info.error,
#delivery_address_form .form-info.germanysuccess {
    display: block;
}

/* style for VAT varification in banking detail page */
.adress-form .error input[type="text"] {
    border: 1px solid #e62e4c;
}

.form_item h6 {
    color: #e62e4c !important;
}

/* style for blog author image*/
.author-post .blog_article .author .author_img img {
    height: 280px;
    width: 280px;
}

#iqub-container.catalog3 .section .filtr .menu .btn-filtr {
    width: 295px;
}

#iqub-container.catalog3 .section .filtr .menu .btn-filtr.active {
    width: 295px;
}

#iqub-container.catalog3 .section .filtr .menu .btn-filtr.active:hover {
    width: 295px;
}

#iqub-container.catalog3 .section .filtr .menu .btn-filtr:hover {
    width: 295px;
}

/* styles for display questions on confirmation page */
.confirm .query_wrap {
    padding-bottom: 0px;
}

.confirm .confirm_result {
    padding-bottom: 0px;
}

.confirm .query_wrap.active .reply {
    font-size: 13px;
    line-height: 17px;
    color: #5d6978;
}

#profile-edit-form .form-left .form-actions:hover .submit-arrow {
    cursor: pointer;
}

#profile-edit-form .form-left .form-actions:hover button[type=submit] {
    background: #ff4060;
}

.company-inforamtion-container .employee-infor .link-container a:focus {
    color: #000;
}

/* style for displaying linkedin bigger icon */
.social.linkedin.large {
    line-height: 60px !important;
    height: 60px;
    width: 60px;
    font-size: 30px;
}

/* styles for display subscription button on blog post page */
#iqub-container.blog .blog_subscribe input[type="button"]:hover {
    background: #ff4060;
}

#iqub-container.blog .blog_subscribe input[type="button"] {
    color: white;
    background: #e62e4c;
    height: 60px;
    border: 0px;
    margin-top: 20px;
}

#iqub-container.blog.blog-post .blog_list .blog_subscribe input[type=button] {
    width: 140px;
}

/* Settings.xml page--------*/
#cabinet-container.cabinet-settings h2 {
    width: 412px;
}

/* uploaded figure result page-------- */
#iqub-container.upload .upload_item .upload_content .change_form .form-action.uploadedfigure input[type="button"] {
    font-size: 17px;
    color: #161d26;
    line-height: 60px;
    padding: 0px 30px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    border: 0px;
    background: #c7e3f6;
}

#iqub-container.upload .upload_item .upload_content .change_form .form-action.uploadedfigure input[type="button"]:hover {
    background: #badaef;
}

#iqub-container.upload .upload_item .upload_content .upload_left img {
    max-width: 85%;
}

.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item .error_input,
.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item .error_length_input {
    color: #e62e4c;
    display: none;
    font-size: 13px
}

.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item.error .error_input,
.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item.error-length .error_length_input {
    display: block;
    line-height: 25px;
}

.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item.error input[type=text],
.upload_item .user_drawing_product .upload_content .upload_right .change_form .form-item.error-length input[type=text] {
    border: 1px solid #e62e4c !important;
    box-shadow: none !important;
}

.author.commetn-post .author_img .img.img-responsive {
    width: 60px;
}

/* iamhe pop up for blog post page   */
.blog-image-popup {
    background: none;
}

.popup-container {
    max-width: 1000px;
}

/* commercial proposal page */
#commercial_print_page div.checkboxes {
    line-height: 0px;
    margin-top: 15px;
}

/* Media queries for the different devices */
@media screen and (max-width: 1100px) {
    .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .help-anchor .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .what .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .profile-content .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .block_filtr .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .confirm_img_confirmation_page .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .ck_editor_img .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .my-articles-sort .ckeditor_image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .modal.get_link_dialogue .close {
        top: 30px;
        margin-right: 182px;
    }

    img:not(.cke_iframe), .media_iframe_video, span.fa, i.fa {
        width: initial;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    .header-menus-container {
        overflow: visible !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .img {
        height: 200px;
        padding: 30px 0 0;
        width: 160px;
    }

    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .unit_price,
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .taxes {
        display: block;
        width: auto;
    }

    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .quantity,
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .unit_price {
        padding-bottom: 10px;
    }

    #cabinet-container.cabinet-post-cart .cart_item_text {
        padding-bottom: 20px;
    }

    img:not(.cke_iframe), .media_iframe_video, span.fa, i.fa {
        width: initial;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr a {
        font-size: 13px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr:first-child a {
        padding-top: 32px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr {
        width: 215px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr:hover {
        width: 215px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active {
        width: 215px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active:hover {
        width: 215px;
    }
}

@media screen and (max-width: 980px) {
    #iqub-container.basket .section .content {
        padding-top: 0;
        width: 100%;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }
}

@media screen and (max-width: 959px) {
    .login-right .login-register-link {
        display: none
    }

    .login-right .login-register-link.mobile {
        display: inline-block
    }

    .login-right .login-register-link {
        font-size: 15px
    }

    .login-right .login-register-link-container {
        margin-top: -80px;
        margin-bottom: 40px;
    }

    .modal.get_link_dialogue {
        height: 155px;
        width: 432px;
    }

    .modal.get_link_dialogue .close {
        top: 30px;
        margin-right: 203px;
    }

    .cart .cart_item .cart_article .img {
        width: 350px;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    #iqub-container .section .content .upload-drawing {
        font-size: 15px;
        padding-left: 65px;
        line-height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #iqub-container.blog .blog_subscribe input[type="button"] {
        height: 40px;
        padding: 0px 20px;
    }

    .cart-link {
        margin-left: 9px;
    }

    .login-link {
        margin-left: 9px;
    }

    .message-g {
        margin-left: 9px;
    }

    .language-btn {
        margin-left: 9px;
    }

    .cart .cart_item {
        padding-right: 5px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .img {
        height: 200px;
        padding: 30px 0 0;
        width: 180px;
    }

    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .unit_price,
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .taxes {
        display: block;
        width: auto;
    }

    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .quantity,
    #cabinet-container.cabinet-post-cart .cart_item .cart_article .price-inform .unit_price {
        padding-bottom: 10px;
    }

    #cabinet-container.cabinet-post-cart .cart_item_text {
        padding-bottom: 20px;
    }

    .cart .form-action .red-btn-link {
        font-size: 20px !important;
    }

    .modal.get_link_dialogue {
        height: 155px;
        width: 432px;
    }

    .modal.get_link_dialogue .close {
        top: 30px;
        margin-right: 203px;
    }

    img:not(.cke_iframe), .media_iframe_video, span.fa, i.fa {
        width: initial;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    #cabinet-container .filtr .menu .btn-filtr:first-child {
        margin-right: 0px;
    }

    #cabinet-container .filtr .menu .btn-filtr {
        margin-left: 20px;
    }

    #cabinet-container .filtr .menu .btn-filtr:last-child {
        margin-left: 0px;
    }

    #cabinet-container.ordered-goods .filtr .menu .btn-filtr {
        margin-right: 0px;
    }

    #cabinet-container.ordered-goods .filtr .menu .btn-filtr:last-child {
        margin-left: 20px;
    }

    #cabinet-container .filtr .menu .btn-filtr:first-child {
        margin-right: 0px;
        margin-left: 0px;
    }

    #cabinet-container .filtr .check_responsive .btn-filtr:last-child {
        margin-left: 20px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr {
        width: 135px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr:hover {
        width: 135px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active {
        width: 135px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active:hover {
        width: 135px;
    }
}

@media screen and (max-width: 640px) {
    #cabinet-container.cabinet-post-cart .cart_item {
        border-top: 1px solid #d3dae1;
    }

    #cabinet-container.cabinet-post-cart .confirm_result {
        border-top: none;
    }

    .modal.get_link_dialogue {
        height: 150px;
        width: 306px;
    }

    .modal.get_link_dialogue .close {
        top: 30px;
        margin-right: 129px;
    }

    .cart .cart_item .cart_item_buttons input[type="submit"] {
        float: right;
        margin-left: 4px;
    }

    .cart .cart_item .cart_item_buttons input[type="button"] {
        float: right;
    }

    .cart .cart_item .cart_item_buttons input[type="text"] {
        float: left;
        width: 90px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active {
        width: 100%;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr {
        width: 100%;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active, #iqub-container.catalog3 .section .filtr .menu .btn-filtr:hover, #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active:hover {
        width: 100%;
    }

    img:not(.cke_iframe), .media_iframe_video, span.fa, i.fa {
        width: initial;
    }

    #faq-container .get_link {
        width: 235px;
    }

    .cart .cart_item .cart_article .img {
        margin-left: -30px;
        width: 140px;
    }

    .cart .cart_item .cart_article .cart_article_title {
        margin-left: -35px;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr:first-child {
        width: 100% !important;
    }
}

@media screen and (max-width: 479px) {
    .query_wrap.active .reply {
        width: 95%;
    }

    .modal.get_link_dialogue {
        height: 180px;
        width: 306px;
        background: white;
    }

    .modal.get_link_dialogue .close {
        top: 30px;
        margin-right: 129px;
    }

    .cart .cart_item .cart_iemail-icontem_buttons input[type="submit"] {
        float: right;
        margin-left: 4px;
        width: 65px;
    }

    .cart .cart_item .cart_item_buttons input[type="button"] {
        float: right;
        width: 65px;
    }

    .cart .cart_item .cart_item_buttons input[type="text"] {
        float: left;
        width: 70px;
        margin-right: 0;
    }

    .delivery .form-action .red-btn-link {
        font-size: 16px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active {
        width: 100%;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr {
        width: 100%;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active, #iqub-container.catalog3 .section .filtr .menu .btn-filtr:hover, #iqub-container.catalog3 .section .filtr .menu .btn-filtr.active:hover {
        width: 100%;
    }

    .create-article-add-slider-container .add-slider-actions .sent {
        font-size: 19px;
    }

    .cart .cart_item .cart_article .img {
        margin-left: -30px;
        width: 140px;
    }

    .cart .cart_item .cart_article .cart_article_title {
        margin-left: -35px;
    }

    .cart-link {
        margin-left: 9px;
    }

    .login-link {
        margin-left: 9px;
    }

    .message-g {
        margin-left: 9px;
    }

    .language-btn {
        margin-left: 9px;
    }

    .create-article-add-slider-container .image-preview .images-preview-canvas {
        height: 184px;
        width: 279px;
    }

    #iqub-container.blog .swiper-slide img {
        margin-bottom: 40px;
        height: 160px;
    }

    #iqub-container.catalog3 .section .filtr .menu .btn-filtr:first-child {
        width: 100% !important;
    }

    #iqub-container .section .content .upload-drawing {
        padding-left: 65px;
        line-height: 19px;
        height: 110px;
        border-top-width: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 1px;
    }
}

#iqub-container.error {
    font-size: 20px;
    padding-bottom: 25px;
}

#iqub-container.error a {
    color: #015995;
}

#iqub-container.error a:hover {
    color: #e62e4c;
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    #iqub-container.error {
        font-size: 18px;
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.error {
        font-size: 14px;
    }
}

#iqub-container.error .img_block {
    padding-top: 100px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    #iqub-container.error .img_block {
        padding-top: 70px;
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    #iqub-container.error .img_block {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.error .img_block {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

#iqub-container.error .img_block img {
    height: auto;
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    #iqub-container.error .img_block img {
        width: 350px;
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    #iqub-container.error .img_block img {
        width: 350px;
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.error .img_block img {
        width: 260px;
    }
}

#iqub-container.error .big {
    font-weight: bold;
    font-size: 24px;
}

#footer .bot .right {
    width: 50%;
}

.intro_image label {
    margin-bottom: 5px;
}

.intro_image .chose_file {
    color: #fff;
    background: #e62e4c;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 17px;
}

.intro_image .chose_file:hover {
    background: #ff4060
}

.intro_image .description {
    color: #5d6978;
    font-size: 13px;
}

/* To remove extra space at confirmation page*/
.confirm .confirm_result_title {
    font-size: 24px;
    color: #161d26;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 40px;
}

.confirm form .basked_subtitle {
    padding-top: 0px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #161d26;
    line-height: 30px;
}

/* To display error message */
.confirm .message-error {
    background-color: #f9cbd3;
    color: #161d26;
    font-size: 13px;
    padding: 20px;
    position: relative;
    margin: 10px 0px;
    margin-top: 30px;
    line-height: 19px;
}

.confirm .message-error .close {
    background-image: url('/thermevo_website_management/static/src/images/message_error_close.png?1442843541');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
}

/* To set close button at pop-up */
.popup-bg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    background: rgba(0, 0, 0, 0.75) url('/thermevo_website_management/static/src/images/close_button.png') top right no-repeat;
}

/* To set image in proper size at pop-up screen */
#popup_image {
    padding-top: 100%;
    padding-bottom: 100%;
    max-width: 100%;
    max-height: 80%;
    padding-left: 0%;
    padding-right: 0%;
}

#cabinet-container .section .profile-content .cart_item .cart_article #user_image .img {
    width: 100%;
    height: 100%;
    padding-top: 29%;
}

#cabinet-container .profile-content .billing_item label {
    margin-bottom: 0;
    font-size: 12px;
}

#cabinet-container .profile-content .billing_item .text {
    font-size: 16px;
    line-height: 20px
}

#delivery_address_form .form_part .form_row .form_row_part .banned_country_msg{
    display: none;
    font-size: 13px;
    line-height: 15px;
    color: #5d6978;
}