.image-bg-come {
    background-image: url("/thermevo_website_management/static/src/images/istock_cityscape3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.image-bg-come .title-come {
    color: white;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 53px;
    display: block;
    padding-top: 195px;
    text-align: center
}

@media screen and (max-width: 639px) {
    .image-bg-come .title-come {
        padding-top: 21px;
        font-size: 40px;
        line-height: 40px
    }
}

.image-bg-come .subtitle {
    color: white;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center
}

@media screen and (max-width: 639px) {
    .image-bg-come .subtitle {
        font-size: 30px;
        padding-top: 10px
    }
}

.image-bg-come .button-country {
    text-align: center;
    padding-top: 52px;
    padding-bottom: 205px
}

@media screen and (max-width: 639px) {
    .image-bg-come .button-country {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 40px
    }
}

.image-bg-come .button-country a {
    background-color: #e62e4c;
    color: white;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 192px;
    height: 54px;
    padding-top: 13px;
    display: inline-block
}

@media screen and (max-width: 639px) {
    .image-bg-come .button-country a {
        margin: 0 auto;
        margin-top: 20px
    }
}

.image-bg-come-bottom {
    background-image: url("/thermevo_website_management/static/src/images/photo-1431576901776-e539bd916ba2.jpg")
}

.image-bg-come-bottom .button-country {
    padding-top: 40px
}

.section .come-work-container .title {
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 63px
}

.section .come-work-container .wrapper-break {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px
}

@media screen and (max-width: 959px) {
    .section .come-work-container .wrapper-break {
        flex-wrap: wrap;
        justify-content: center
    }
}

@media screen and (max-width: 959px) {
    .section .come-work-container .wrapper-break .rounded {
        margin-bottom: 10px
    }
}

.section .come-work-container .wrapper-break .rounded img {
    float: left
}

.section .come-work-container .wrapper-break .rounded .text {
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 105px;
    padding-top: 20px
}

.section .come-work-container .wrapper-break .rounded .text:after {
    content: "";
    clear: both
}

.thermal-block {
    background: #f4f4f4
}

.thermal-block .title {
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 63px
}

.thermal-block .benefit {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px
}

@media screen and (max-width: 639px) {
    .thermal-block .benefit {
        flex-wrap: wrap;
        justify-content: center
    }
}

.thermal-block .benefit .rounded {
    width: 393px;
    background-color: #ffffff;
    text-align: center
}

@media screen and (max-width: 639px) {
    .thermal-block .benefit .rounded {
        margin-bottom: 20px
    }
}

.thermal-block .benefit .rounded img {
    padding-top: 55px
}

.thermal-block .benefit .rounded .text {
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 42px
}

.thermal-block .benefit .rounded .short-description {
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 18px
}

.thermal-block .benefit .rounded .button-country {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 50px
}

@media screen and (max-width: 639px) {
    .thermal-block .benefit .rounded .button-country {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 40px
    }
}

.thermal-block .benefit .rounded .button-country a {
    background-color: #005c98;
    color: white;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 192px;
    height: 54px;
    padding-top: 13px;
    display: inline-block
}

@media screen and (max-width: 639px) {
    .thermal-block .benefit .rounded .button-country a {
        margin: 0 auto;
        margin-top: 20px
    }
}

.thermal-block .benefit .rounded .button-country a:hover {
    background-color: #e62e4c
}
