@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

@font-face {
    font-family: "FontAwesome";
    src: url('../../fonts/FontAwesome.otf?1452321454') format('opentype'), url('../../fonts/fontawesome-webfont.eot?1452321454') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.svg?1452321454') format('svg'), url('../../fonts/fontawesome-webfont.ttf?1452321454') format('truetype'), url('../../fonts/fontawesome-webfont.woff?1452321454') format('woff'), url('../../fonts/fontawesome-webfont.woff2?1452321454') format('woff2')
}

.delivery {
    font-family: "Ubuntu", helvetica, Arial, sans-serif
}

.delivery form {
    padding-top: 0px
}

.delivery .form_part {
    padding: 60px 0px;
    clear: both
}

@media screen and (max-width: 959px) {
    .delivery .form_part {
        padding: 20px 0px
    }
}

.delivery .form_part .form_part_title {
    font-size: 24px;
    font-weight: bold;
    color: #161d26
}

@media screen and (max-width: 959px) {
    .delivery .form_part .form_part_title {
        font-size: 20px
    }
}

.delivery .form_part label {
    font-size: 13px;
    color: #5d6978;
    display: block;
    margin: 0px;
    line-height: 19px
}

@media screen and (max-width: 959px) {
    .delivery .form_part label {
        font-size: 11px
    }
}

.delivery .form_part .form_row_part {
    float: left;
    width: 50%;
    box-sizing: border-box
}

@media screen and (max-width: 639px) {
    .delivery .form_part .form_row_part {
        width: 100%
    }
}

.delivery .form_part .form_row_part:nth-child(1) {
    padding-right: 20px
}

@media screen and (max-width: 639px) {
    .delivery .form_part .form_row_part:nth-child(1) {
        padding-right: 0px
    }
}

.delivery .form_part .form_row_part:nth-child(2) {
    padding-left: 20px
}

@media screen and (max-width: 639px) {
    .delivery .form_part .form_row_part:nth-child(2) {
        padding-left: 0px
    }
}

.delivery .form_part .form_row_part .form_item {
    padding-top: 40px
}

@media screen and (max-width: 959px) {
    .delivery .form_part .form_row_part .form_item {
        padding-top: 25px
    }
}

.delivery .form_part .form_row_part input[type="text"], .delivery .form_part .form_row_part input[type="email"] {
    font-size: 13px;
    color: #161d26;
    width: 100%;
    border: 1px solid #d3dae1;
    background: #f2f0f0;
    height: 40px;
    padding-left: 20px
}

@media screen and (max-width: 959px) {
    .delivery .form_part .form_row_part input[type="text"], .delivery .form_part .form_row_part input[type="email"] {
        font-size: 11px
    }
}

.delivery .form_part .form_row_part textarea {
    font-size: 13px;
    color: #161d26;
    width: 100%;
    border: 1px solid #d3dae1;
    background: #f2f0f0;
    height: 145px;
    padding: 10px 20px;
    line-height: 17px;
    resize: none
}

@media screen and (max-width: 959px) {
    .delivery .form_part .form_row_part textarea {
        height: 125px
    }
}

.delivery .form_part .select-wrap {
    border-bottom: 1px solid #161d26;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: url("../../images/bg-select-product.png?1441459109") #fff center right no-repeat;
    content: "\0020";
    height: 36px;
    width: 440px;
    margin-top: 45px
}

@media screen and (max-width: 959px) {
    .delivery .form_part .select-wrap {
        width: 100%
    }
}

@media screen and (max-width: 639px) {
    .delivery .form_part .select-wrap {
        margin-top: 20px
    }
}

.delivery .form_part .select-wrap select {
    padding-right: 37px;
    border: none;
    height: 35px;
    width: calc(100% + 20px);
    font-size: 17px;
    line-height: 17px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    background: transparent
}

.delivery .form-action {
    float: left
}

.delivery .form-action #return {
    position: relative;
    background: #c7e3f6;
    border: 1px solid #d3dae1;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 17px;
    width: 230px;
    text-align: center;
    margin-left: 40px;
    float: right
}

@media screen and (max-width: 959px) {
    .delivery .form-action #return {
        height: 60px;
        line-height: 60px;
        font-size: 15px
    }
}

@media screen and (max-width: 639px) {
    .delivery .form-action #return {
        margin-top: 0px;
        float: none;
        display: block;
        margin-top: 20px
    }
}

.delivery .form-action #return:after, .delivery .form-action #return:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.delivery .form-action #return:after {
    border-color: rgba(199, 227, 246, 0);
    border-right-color: #c7e3f6;
    border-width: 40px;
    margin-top: -40px
}

@media screen and (max-width: 959px) {
    .delivery .form-action #return:after {
        border-width: 30px;
        margin-top: -30px
    }
}

.delivery .form-action #return:before {
    border-color: rgba(211, 218, 225, 0);
    border-right-color: #d3dae1;
    border-width: 41px;
    margin-top: -41px
}

@media screen and (max-width: 959px) {
    .delivery .form-action #return:before {
        border-width: 31px;
        margin-top: -31px
    }
}

.delivery .form-action .red-btn-link {
    font-size: 24px;
    float: right;
    margin-left: 20px
}

@media screen and (max-width: 639px) {
    .delivery .form-action .red-btn-link {
        float: none;
        display: block
    }
}

.confirm {
    font-family: "Ubuntu", helvetica, Arial, sans-serif
}

.confirm .confirm_result {
    padding-bottom: 60px
}

@media screen and (max-width: 959px) {
    .confirm .confirm_result {
        padding-bottom: 40px
    }
}

.confirm .confirm_result_title {
    font-size: 24px;
    color: #161d26;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 40px
}

@media screen and (max-width: 959px) {
    .confirm .confirm_result_title {
        padding-bottom: 20px;
        padding-top: 40px
    }
}

@media screen and (max-width: 639px) {
    .confirm .cart_item_text {
        padding-left: 20px;
        padding-bottom: 20px;
        text-align: left !important;
        line-height: 30px
    }
}

@media screen and (max-width: 639px) {
    .confirm .cart_item_text .label {
        display: block !important
    }
}

.confirm .confirm_total {
    background: #b6ddf7;
    line-height: 60px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #161d26;
    height: 60px;
    padding: 0px 20px;
    display: table;
    width: 100%
}

@media screen and (max-width: 959px) {
    .confirm .confirm_total {
        font-size: 11px
    }
}

.confirm .confirm_total .title_left {
    display: table-cell;
    width: 50%;
    text-align: left;
    line-height: 36px
}

@media screen and (max-width: 639px) {
    .confirm .confirm_total .title_left {
        display: block;
        float: right;
        text-align: left;
        width: 112px;
        padding: 7px 0px
    }
}

.confirm .confirm_total .title_right {
    display: table-cell;
    width: 50%;
    text-align: right
}

@media screen and (max-width: 639px) {
    .confirm .confirm_total .title_right {
        display: block;
        float: left;
        text-align: left;
        line-height: 30px;
        padding: 20px 0px
    }
}

.confirm .confirm_total .confirm_total_count {
    font-size: 17px;
    font-weight: bold;
    width: 125px;
    display: inline-block;
    text-align: right
}

@media screen and (max-width: 959px) {
    .confirm .confirm_total .confirm_total_count {
        font-size: 15px;
        width: 80px
    }
}

@media screen and (max-width: 639px) {
    .confirm .confirm_total .confirm_total_count {
        display: block;
        text-align: left
    }
}

.confirm .confirm_total .confirm_total_count_gray {
    width: 109px;
    height: 38px;
    display: inline-block;
    border: 1px solid #d3dae1;
    background: #e0eaf2;
    text-align: right;
    padding-right: 11px;
    margin-left: 23px
}

@media screen and (max-width: 959px) {
    .confirm .confirm_total .confirm_total_count_gray {
        width: 80px
    }
}

@media screen and (max-width: 639px) {
    .confirm .confirm_total .confirm_total_count_gray {
        display: block;
        text-align: left;
        margin-left: 0px;
        padding-left: 10px;
        width: 110px
    }
}

.confirm .query_wrap {
    padding-bottom: 60px
}

@media screen and (max-width: 959px) {
    .confirm .query_wrap {
        padding-bottom: 40px
    }
}

.confirm .query_wrap .query {
    color: #015995;
    font-size: 17px;
    cursor: pointer
}

@media screen and (max-width: 639px) {
    .confirm .query_wrap .query {
        font-size: 15px
    }
}

.confirm .query_wrap .query span {
    border-bottom: 1px dashed #015995;
    line-height: 20px
}

.confirm .query_wrap.active .reply {
    display: inline-block;
    position: relative;
    border: 1px solid #d3dae1;
    top: 18px;
    padding: 20px;
    margin-bottom: 18px;
    font-size: 17px;
    line-height: 23px;
    color: #161d26
}

@media screen and (max-width: 639px) {
    .confirm .query_wrap.active .reply {
        font-size: 15px
    }
}

.confirm .query_wrap.active .reply:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    width: 11px;
    height: 18px;
    background: url("../../images/tooltip-pointer.png?1441443796")
}

.confirm .query_wrap.active .reply p {
    padding: 14px 0;
    margin: 0
}

.confirm .query_wrap.active .reply a {
    text-decoration: underline
}

.confirm .query_wrap.active .reply .red-text {
    color: #e62e4c
}

.confirm .query_wrap.active .reply .white-btn.hide-btn {
    position: absolute;
    font-size: 13px;
    bottom: 20px;
    right: 20px;
    width: 88px;
    height: 41px;
    text-align: center;
    line-height: 40px
}

.confirm .query_wrap.active .reply .white-btn.hide-btn:before {
    content: "\2227";
    position: relative;
    display: inline-block;
    top: -3px;
    left: -8px;
    font-weight: bold;
    font-size: 8px
}

.confirm .query_wrap .watch_video {
    display: inline-block;
    padding-left: 50px;
    padding-right: 23px;
    height: 40px;
    background: url("../../images/watch_video.png") left 16px center no-repeat;
    background-color: #e62e4c;
    text-decoration: none !important;
    color: #ffffff;
    line-height: 38px;
    font-size: 13px;
    margin-right: 20px
}

.confirm .query_wrap .get_link {
    display: inline-block;
    padding-left: 50px;
    padding-right: 23px;
    height: 38px;
    border: 1px solid #d3dae1;
    background: url("../../images/get_link.png") left 16px center no-repeat;
    text-decoration: none !important;
    color: #161d26;
    line-height: 36px;
    font-size: 13px;
    margin-right: 20px
}

@media screen and (max-width: 639px) {
    .confirm .query_wrap .get_link {
        display: block;
        width: 275px;
        margin-top: 20px
    }
}

.confirm .confirmation_block {
    padding-top: 60px
}

@media screen and (max-width: 959px) {
    .confirm .confirmation_block {
        padding-top: 40px
    }
}

.confirm .confirmation_block .confirmation_title {
    font-size: 24px;
    font-weight: bold;
    color: #161d26
}

@media screen and (max-width: 959px) {
    .confirm .confirmation_block .confirmation_title {
        font-size: 20px
    }
}

.confirm .confirmation_block .confirmation_link {
    font-size: 13px;
    color: #e62e4c;
    line-height: 17px;
    display: block;
    text-decoration: underline
}

@media screen and (max-width: 959px) {
    .confirm .confirmation_block .confirmation_link {
        font-size: 11px;
        margin-top: 10px
    }
}

.confirm .confirmation_block .confirmation_link:hover {
    color: #ff667f
}

.confirm .confirmation_block .confirmation_text {
    font-size: 17px;
    color: #161d26;
    line-height: 23px;
    padding-top: 40px
}

@media screen and (max-width: 959px) {
    .confirm .confirmation_block .confirmation_text {
        font-size: 15px;
        padding-top: 20px
    }
}

.confirm form {
    padding-top: 50px
}

@media screen and (max-width: 959px) {
    .confirm form {
        font-size: 15px;
        padding-top: 40px
    }
}

.confirm form .checkboxes label {
    font-size: 17px;
    margin-bottom: 0px
}

@media screen and (max-width: 959px) {
    .confirm form .checkboxes label {
        font-size: 15px
    }
}

.confirm form .form-action #return {
    position: relative;
    background: #c7e3f6;
    border: 1px solid #d3dae1;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    color: #161d26;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 17px;
    width: 230px;
    text-align: center;
    margin-left: 40px;
    float: right
}

@media screen and (max-width: 959px) {
    .confirm form .form-action #return {
        height: 60px;
        line-height: 60px;
        font-size: 15px
    }
}

@media screen and (max-width: 639px) {
    .confirm form .form-action #return {
        margin-top: 0px;
        float: none;
        display: block;
        margin-top: 20px;
        width: 180px
    }
}

.confirm form .form-action #return:after, .confirm form .form-action #return:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.confirm form .form-action #return:after {
    border-color: rgba(199, 227, 246, 0);
    border-right-color: #c7e3f6;
    border-width: 40px;
    margin-top: -40px
}

@media screen and (max-width: 959px) {
    .confirm form .form-action #return:after {
        border-width: 30px;
        margin-top: -30px
    }
}

.confirm form .form-action #return:before {
    border-color: rgba(211, 218, 225, 0);
    border-right-color: #d3dae1;
    border-width: 41px;
    margin-top: -41px
}

@media screen and (max-width: 959px) {
    .confirm form .form-action #return:before {
        border-width: 31px;
        margin-top: -31px
    }
}

.basket .help-anchor {
    padding-top: 60px;
    clear: both
}

@media screen and (max-width: 959px) {
    .basket .help-anchor {
        padding-top: 40px
    }
}

@media screen and (max-width: 639px) {
    .basket .help-anchor {
        padding-top: 20px
    }
}

.basket .help-anchor .query_wrap .query {
    color: #015995;
    font-size: 17px;
    cursor: pointer
}

.basket .help-anchor .query_wrap .query span {
    border-bottom: 1px dashed #015995;
    line-height: 35px
}

.basket .help-anchor .query_wrap .query:hover {
    color: #e62e4c
}

.basket .help-anchor .query_wrap .query:hover span {
    border-bottom: 1px dashed #e62e4c
}

.basket .help-anchor .query_wrap .red-text {
    color: #e62e4c
}

.basket .help-anchor .query_wrap .red-text:hover {
    color: #ff667f
}

.basket .help-anchor .query_wrap .reply {
    display: none
}

.basket .help-anchor .query_wrap.active .reply {
    display: inline-block;
    position: relative;
    border: 1px solid #d3dae1;
    top: 18px;
    padding: 20px;
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 17px;
    color: #5d6978
}

.basket .help-anchor .query_wrap.active .reply p {
    padding: 14px 0;
    margin: 0
}

.basket .help-anchor .query_wrap.active .reply a {
    text-decoration: underline
}

.basket .help-anchor .query_wrap.active .reply:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    width: 11px;
    height: 18px;
    background: url('../../thermevo_website_management/static/src/images/tooltip-pointer.png?1450773247')
}

.basket .help-anchor .query_wrap.active .reply .white-btn.hide-btn {
    position: absolute;
    font-size: 13px;
    bottom: 20px;
    right: 20px;
    width: 88px;
    height: 41px;
    text-align: center;
    line-height: 40px
}

.basket .help-anchor .query_wrap.active .reply .white-btn.hide-btn:before {
    content: "\2227";
    position: relative;
    display: inline-block;
    top: -3px;
    left: -8px;
    font-weight: bold;
    font-size: 8px
}

.basket .basket_steps {
    margin-top: 60px
}

.basket .basket_steps .basket_step {
    position: relative;
    background: #fff;
    border: 1px solid #d3dae1;
    padding-left: 50px;
    padding-right: 20px
}

.basket .basket_steps .basket_step.active {
    background: #015995
}

.basket .basket_steps .basket_step.active a {
    color: #fff
}

.basket .basket_steps .basket_step.active:after, .basket .basket_steps .active.basket_step:before {
    border-left-color: #015995
}

.basket .basket_steps .basket_step.active:before {
    border-left-color: #fff
}

.basket .basket_steps .basket_step.selectd_prev {
    background: #2297e6
}

.basket .basket_steps .basket_step.selectd_prev a {
    color: #fff
}

.basket .basket_steps .basket_step.selectd_prev:after, .basket .basket_steps .selectd_prev.basket_step:before {
    border-left-color: #2297e6
}

.basket .basket_steps .basket_step.selectd_prev:before {
    border-left-color: #fff
}

.basket .basket_steps .basket_step:nth-child(1) {
    padding-left: 20px;
    z-index: 3
}

.basket .basket_steps .basket_step:nth-child(2) {
    z-index: 2;
    margin-left: -6px
}

.basket .basket_steps .basket_step:nth-child(3) {
    z-index: 1;
    margin-left: -12px
}

.basket .basket_steps .basket_step a {
    padding-right: 0;
    padding-left: 0
}

.basket .basket_steps .basket_step:after, .basket .basket_steps .basket_step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px
}

.basket .basket_steps .basket_step:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #d3dae1;
    border-width: 31px;
    margin-top: -31px
}

#cabinet-container.flixo {
    padding-top: 80px;
    margin-bottom: 40px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo {
        padding-top: 40px
    }
}

#cabinet-container.flixo .flixo_steps {
    margin-top: 20px;
    margin-bottom: 60px
}

#cabinet-container.flixo .flixo_steps .breake {
    display: none
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo .flixo_steps .breake:nth-child(6) {
        display: block
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .breake:nth-child(6) {
        display: none
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .breake:nth-child(4) {
        display: block
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .breake:nth-child(8) {
        display: block
    }
}

#cabinet-container.flixo .flixo_steps .flixo_step {
    position: relative;
    background: #fff;
    border: 1px solid #d3dae1;
    padding-left: 45px;
    padding-right: 15px;
    display: inline-block
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .flixo_step {
        display: inline-block
    }
}

#cabinet-container.flixo .flixo_steps .flixo_step.active {
    background: #015995
}

#cabinet-container.flixo .flixo_steps .flixo_step.active a {
    color: #fff
}

#cabinet-container.flixo .flixo_steps .flixo_step.active:after, #cabinet-container.flixo .flixo_steps .active.flixo_step:before {
    border-left-color: #015995
}

#cabinet-container.flixo .flixo_steps .flixo_step.active:before {
    border-left-color: #fff
}

#cabinet-container.flixo .flixo_steps .flixo_step.selectd_prev {
    background: #2297e6
}

#cabinet-container.flixo .flixo_steps .flixo_step.selectd_prev a {
    color: #fff
}

#cabinet-container.flixo .flixo_steps .flixo_step.selectd_prev:after, #cabinet-container.flixo .flixo_steps .selectd_prev.flixo_step:before {
    border-left-color: #2297e6
}

#cabinet-container.flixo .flixo_steps .flixo_step.selectd_prev:before {
    border-left-color: #fff
}

#cabinet-container.flixo .flixo_steps .flixo_step:nth-child(1) {
    padding-left: 15px;
    z-index: 5
}

#cabinet-container.flixo .flixo_steps .flixo_step:nth-child(3) {
    z-index: 4;
    margin-left: -6px
}

#cabinet-container.flixo .flixo_steps .flixo_step:nth-child(5) {
    z-index: 3;
    margin-left: -12px
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .flixo_step:nth-child(5) {
        margin-left: 0px;
        margin-top: 20px;
        padding-left: 20px
    }
}

#cabinet-container.flixo .flixo_steps .flixo_step:nth-child(7) {
    z-index: 2;
    margin-left: -12px
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo .flixo_steps .flixo_step:nth-child(7) {
        margin-left: 0px;
        margin-top: 20px;
        padding-left: 20px
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .flixo_step:nth-child(7) {
        margin-left: -12px;
        margin-top: 0px;
        padding-left: 50px
    }
}

#cabinet-container.flixo .flixo_steps .flixo_step:nth-child(9) {
    z-index: 1;
    margin-left: -12px
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .flixo_steps .flixo_step:nth-child(9) {
        margin-left: 0px;
        margin-top: 20px;
        padding-left: 20px
    }
}

#cabinet-container.flixo .flixo_steps .flixo_step a {
    padding-right: 0;
    padding-left: 0;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 50px;
    color: #161d26;
    vertical-align: middle;
    display: inline-block
}

#cabinet-container.flixo .flixo_steps .flixo_step:after, #cabinet-container.flixo .flixo_steps .flixo_step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-left-color: #fff;
    border-width: 25px;
    margin-top: -25px
}

#cabinet-container.flixo .flixo_steps .flixo_step:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #d3dae1;
    border-width: 26px;
    margin-top: -26px
}

#cabinet-container.flixo .upload_flixo {
    margin-top: 60px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .upload_flixo {
        margin-top: 40px
    }
}

#cabinet-container.flixo .upload_flixo .form-actions {
    display: inline-block;
    height: 60px;
    margin: 12px 0 60px 0
}

#cabinet-container.flixo .upload_flixo .form-actions input[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 30px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .upload_flixo .form-actions input[type=submit] {
        font-size: 17px
    }
}

#cabinet-container.flixo .upload_flixo .form-actions .submit-arrow {
    display: inline-block;
    height: 60px;
    background: url('../../thermevo_website_management/static/src/images/red_btn_after_60.png?1450773247');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 33px
}

#cabinet-container.flixo .upload_flixo .form-actions .submit-arrow:before {
    background: url('../../thermevo_website_management/static/src/images/red_btn_icon.png?1450773247');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    height: 60px;
    position: absolute;
    left: -8px;
    width: 16px;
    z-index: 3;
    border-left-color: #fff
}

#cabinet-container.flixo .upload_flixo .form-actions:hover input[type=submit] {
    background-color: #ff4060
}

#cabinet-container.flixo .upload_flixo .form-actions:hover .submit-arrow {
    background-position: 0 -60px
}

#cabinet-container.flixo #svg_controls {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center
}

#cabinet-container.flixo #svg_controls i {
    margin: 3px;
    background: none;
    border: 0px;
    color: #005c99;
    cursor: pointer;
    background: white;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 26px
}

#cabinet-container.flixo #svg_controls i:hover {
    background: white;
    border: 0px;
    color: blue
}

#cabinet-container.flixo #svg_controls div.controls-zoom, #cabinet-container.flixo #svg_controls div.controls-pan {
    float: right
}

#cabinet-container.flixo #svg_controls div.controls-pan {
    margin-left: 30px;
    position: relative
}

#cabinet-container.flixo #svg_controls div.controls-pan i {
    font-size: 27px;
    margin: 0px
}

#cabinet-container.flixo #svg_controls div.controls-pan i.fa-arrow-down {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -13px
}

#cabinet-container.flixo #svg_controls div.controls-pan i.fa-arrow-up {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -13px
}

#cabinet-container.flixo #svg_controls div.controls-pan i.fa-arrow-left {
    float: left;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -13px
}

#cabinet-container.flixo #svg_controls div.controls-pan i.fa-arrow-right {
    float: right;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -13px
}

#cabinet-container.flixo #svg_controls div.controls-zoom {
    margin-left: 20px
}

#cabinet-container.flixo #svg_controls .controls-pan {
    width: 126px;
    height: 126px;
    border-radius: 60px;
    background: white
}

#cabinet-container.flixo .svg_wrap {
    position: relative
}

#cabinet-container.flixo .svg_wrap .svg_data {
    display: none
}

#cabinet-container.flixo .svg_wrap #svg {
    width: 100%;
    height: 600px;
    background: #B0E0E6
}

#cabinet-container.flixo .svg_wrap .svg_notice {
    position: absolute;
    display: none;
    text-align: center;
    padding: 45px;
    background: white;
    box-sizing: border-box;
    z-index: 2;
    font-size: 17px;
    max-width: 600px
}

#cabinet-container.flixo .svg_wrap .svg_notice .title {
    font-weight: bold
}

#cabinet-container.flixo .svg_wrap .svg_notice .text {
    padding-top: 10px;
    color: #5d6978
}

#cabinet-container.flixo .svg_wrap .svg_notice .close_notice {
    padding: 0px 20px;
    background: #e62e4c;
    color: white;
    display: inline-block;
    margin-top: 20px;
    line-height: 40px
}

#cabinet-container.flixo .svg_wrap .svg_notice_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block {
    background: white;
    position: absolute;
    top: 12px;
    left: 16px;
    padding: 22px 28px 13px 28px;
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block .color_block {
    background-color: #e62e4c;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    width: 43px;
    height: 32px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    float: left
}

#cabinet-container.flixo .svg_wrap .item_group_block .color_block .top_triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 17px 0;
    border-color: transparent #ffffff transparent transparent;
    top: 0px;
    right: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block .color_block .bottom_triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 9px;
    border-color: transparent transparent #ffffff transparent;
    bottom: 0px;
    right: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block .name {
    line-height: 20px;
    display: inline-block;
    float: left;
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #161d26;
    max-width: 360px;
    position: relative;
    top: 6px
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons {
    clear: both;
    padding-top: 22px
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    margin-right: 10px
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_ungroup {
    background: #e62e4c
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_ungroup.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_ready {
    background: #e62e4c;
    display: none;
    text-align: center
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_ready.visible {
    display: inline-block
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span i {
    padding-left: 10px
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_yes.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block .buttons span.button_prev i {
    padding-left: 0px;
    padding-right: 10px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change {
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span.button_ungroup {
    background: #e62e4c
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span.button_ungroup.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span i {
    margin-right: 10px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span.button_menu {
    width: 40px;
    padding: 0px;
    text-align: center
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_top span.button_menu i {
    margin: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    min-width: 165px;
    margin-bottom: 1px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span i {
    margin-right: 10px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span.button_ready {
    background: #e62e4c;
    display: none;
    text-align: center
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span.button_ready.visible {
    display: inline-block
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span.button_menu {
    width: 40px;
    padding: 0px;
    text-align: center
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span.button_menu i {
    margin: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right span.button_next.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap {
    position: absolute;
    left: 8px;
    top: 56px;
    width: 292px;
    background: #ffffff;
    padding: 15px 11px;
    box-sizing: border-box;
    padding-left: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_list_top {
    color: #9097a2;
    font-size: 17px;
    padding-right: 11px;
    padding-bottom: 6px;
    padding-left: 11px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_list_top input {
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item {
    padding: 10px 11px;
    cursor: pointer;
    font-size: 15px;
    line-height: 16px;
    width: 260px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_name {
    position: relative;
    padding-left: 41px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_block {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    width: 32px;
    height: 32px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item .name {
    word-wrap: break-word
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item.active, #cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover {
    background: #e5e9ed;
    font-weight: bold
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item.active .color_name, #cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover .color_name {
    padding-left: 51px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item.active .color_block, #cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover .color_block {
    width: 41px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item.active .color_block .top_triangle, #cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover .color_block .top_triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 17px 0;
    border-color: transparent #e5e9ed transparent transparent;
    top: 0px;
    right: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item.active .color_block .bottom_triangle, #cabinet-container.flixo .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover .color_block .bottom_triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 9px;
    border-color: transparent transparent #e5e9ed transparent;
    bottom: 0px;
    right: 0px
}

#cabinet-container.flixo .svg_wrap .item_group_block_change .buttons_right {
    position: absolute;
    top: 56px;
    left: 308px
}

#cabinet-container.flixo .svg_wrap .notice_ready .ready_button a {
    display: inline-block;
    background: #e62e4c;
    line-height: 40px;
    padding: 0px 23px;
    color: white;
    margin: 20px 0px;
    margin-bottom: 10px
}

#cabinet-container.flixo .svg_wrap .notice_ready .what_to_do a {
    display: inline-block;
    background: #015995;
    line-height: 40px;
    padding: 0px 23px;
    color: white;
    margin: 20px 0px;
    margin-bottom: 10px
}

#cabinet-container.flixo .svg_wrap .create_material {
    position: absolute;
    top: 8px;
    left: 8px;
    background: white;
    width: 292px;
    padding: 10px;
    box-sizing: border-box;
    display: none
}

#cabinet-container.flixo .svg_wrap .create_material .close_create {
    width: 46px;
    height: 46px;
    position: absolute;
    right: -54px;
    top: 0px;
    background: #015995;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 46px;
    cursor: pointer
}

#cabinet-container.flixo .svg_wrap .create_material .colot_title {
    padding-bottom: 10px
}

#cabinet-container.flixo .svg_wrap .create_material .color {
    width: 38px;
    height: 38px;
    display: inline-block;
    float: left
}

#cabinet-container.flixo .svg_wrap .create_material .title {
    padding-left: 10px;
    line-height: 38px;
    font-size: 14px;
    display: inline-block
}

#cabinet-container.flixo .svg_wrap .create_material .inputs > div {
    padding-bottom: 8px
}

#cabinet-container.flixo .svg_wrap .create_material .inputs .label_create {
    color: #161d26;
    display: inline-block;
    line-height: 30px;
    width: 62px
}

#cabinet-container.flixo .svg_wrap .create_material .inputs .label_create_textarea {
    float: left
}

#cabinet-container.flixo .svg_wrap .create_material .inputs input {
    width: 97px;
    height: 30px;
    border: 1px solid #bababa;
    box-sizing: border-box;
    font-size: 17px
}

#cabinet-container.flixo .svg_wrap .create_material .inputs input.error {
    border: 1px solid #e62e4c
}

#cabinet-container.flixo .svg_wrap .create_material .inputs textarea {
    width: 210px;
    resize: none
}

#cabinet-container.flixo .svg_wrap .create_material .inputs textarea.error {
    border: 1px solid #e62e4c
}

#cabinet-container.flixo .svg_wrap .create_material .create_ready {
    position: absolute;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    font-size: 17px;
    bottom: -60px;
    background: #e62e4c;
    cursor: pointer
}

#cabinet-container.flixo .svg_wrap .chose_temperature {
    display: none;
    position: absolute;
    top: 8px;
    left: 8px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left {
    float: left
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left .text {
    padding: 12px;
    background: white;
    width: 375px;
    box-sizing: border-box;
    font-size: 17px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point {
    padding-top: 15px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span span {
    width: 18px;
    height: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.blue_point {
    background: url('../../thermevo_website_management/static/src/images/ext_normal.png?1455725614')
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.blue_point:hover, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.blue_point.active {
    background: url('../../thermevo_website_management/static/src/images/ext_hover.png?1455725685')
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.red_point {
    background: url('../../thermevo_website_management/static/src/images/int_normal.png?1455725705')
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.red_point:hover, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.red_point.active {
    background: url('../../thermevo_website_management/static/src/images/int_hover.png?1455725726')
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right {
    float: left
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right .button_interior, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right .button_reset_temperature {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    min-width: 165px;
    margin-left: 7px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right .button_reset_temperature {
    margin-left: 4px;
    min-width: auto
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right i {
    margin-right: 15px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right .temperature_ready {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    min-width: 100px;
    background: #e62e4c;
    text-align: center;
    margin-left: 7px;
    margin-top: 4px
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_right .temperature_ready.hidden {
    display: none
}

#cabinet-container.flixo .svg_wrap .notice_temperature .buttons {
    padding-top: 20px
}

#cabinet-container.flixo .svg_wrap .notice_temperature .button_cheak {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    min-width: 100px;
    margin-left: 7px
}

#cabinet-container.flixo .svg_wrap .notice_temperature .button_low_emission {
    display: none
}

#cabinet-container.flixo .svg_wrap .notice_temperature .button_result {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    min-width: 100px;
    background: #e62e4c;
    text-align: center
}

#cabinet-container.flixo .save_pdf {
    text-align: right
}

#cabinet-container.flixo .save_pdf a {
    display: inline-block;
    line-height: 40px;
    padding: 0px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    min-width: 100px
}

#cabinet-container.flixo .svg_wrap_result {
    position: relative;
    background: #c9e5fa;
    margin-top: 10px;
    padding: 10px;
    padding-top: 150px
}

#cabinet-container.flixo .svg_wrap_result .svg_data {
    display: none
}

#cabinet-container.flixo .svg_wrap_result .result_table {
    width: 100%;
    background: white;
    margin-top: 30px
}

#cabinet-container.flixo .svg_wrap_result .result_table.mobile {
    display: none
}

#cabinet-container.flixo .svg_wrap_result .result_table .word_breake {
    width: 125px
}

#cabinet-container.flixo .svg_wrap_result .result_table thead th {
    font-size: 16px;
    padding: 14px;
    white-space: nowrap;
    border-right: 1px solid #ffffff;
    line-height: 19px;
    vertical-align: middle;
    background: #007acc;
    color: white
}

#cabinet-container.flixo .svg_wrap_result .result_table tbody td {
    border-right: 1px solid #b3ccdf;
    padding: 8px 11px;
    word-wrap: break-word
}

#cabinet-container.flixo .svg_wrap_result .result_table tbody td .color_block {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 25px;
    float: left
}

#cabinet-container.flixo .svg_wrap_result .result_table tbody tr:nth-child(2n) {
    background: #ebf5fd
}

#cabinet-container.flixo .svg_wrap_result .result_buttons {
    padding-top: 10px;
    text-align: center
}

#cabinet-container.flixo .svg_wrap_result .result_buttons a {
    line-height: 40px;
    font-size: 17px;
    color: white;
    padding: 0px 10px;
    background: #e62e4c;
    display: inline-block;
    position: relative
}

#cabinet-container.flixo .svg_wrap_result .result_buttons a.blue {
    background: #4f8fbc
}

#cabinet-container.flixo .svg_wrap_result .result_buttons a.blue:before {
    left: -40px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-right-color: #4f8fbc;
    border-width: 20px;
    margin-top: -20px
}

#cabinet-container.flixo .svg_wrap_result .result_buttons a.result_calculate:before,
#cabinet-container.flixo .svg_wrap_result .result_buttons a.certificate_model:before{
    right: -40px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-left-color: #e62e4c;
    border-width: 20px;
    margin-top: -20px
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze {
    margin-top: 30px;
    background: white;
    padding: 30px;
    font-size: 15px
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze label {
    display: block;
    margin-bottom: 10px
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions {
    display: inline-block;
    height: 40px;
    margin: 12px 0 0px 0
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions input[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #015995;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 20px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions input[type=submit] {
        font-size: 17px
    }
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions .submit-arrow {
    display: inline-block;
    height: 40px;
    position: relative;
    width: 33px
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions .submit-arrow:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-left-color: #015995;
    border-width: 20px;
    margin-top: -20px
}

#cabinet-container.flixo .svg_wrap_result .result_optimaze .form-actions:hover input[type=submit] {
    background-color: #015995
}

#cabinet-container.flixo .svg_wrap_result .result_formula {
    background: white;
    padding: 24px;
    margin-top: 15px;
    margin-bottom: 15px
}

#cabinet-container.flixo .svg_wrap_result .result_formula .top_part {
    font-size: 17px;
    font-weight: bold
}

#cabinet-container.flixo .svg_wrap_result .result_formula table {
    margin: 0 auto;
    font-size: 24px;
    color: #161d26
}

#cabinet-container.flixo .svg_wrap_result .result_formula table sub, #cabinet-container.flixo .svg_wrap_result .result_formula table sup {
    font-size: 50%
}

#cabinet-container.flixo .svg_wrap_result .result_formula table td {
    padding: 0px 5px;
    text-align: center
}

#cabinet-container.flixo .svg_wrap_result .result_formula table td.border_bottom {
    border-bottom: 1px solid #bfbfbf
}

#cabinet-container.flixo .svg_wrap_result .result_formula table td.border_top {
    border-top: 1px solid #bfbfbf
}

#cabinet-container.flixo .leave_messageform {
    padding-top: 40px
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .leave_messageform {
        padding-left: 20px;
        padding-right: 20px
    }
}

#cabinet-container.flixo .leave_messageform .big_text {
    max-width: 790px;
    font-size: 30px;
    color: #000000;
    margin: 0 auto;
    font-weight: 300;
    line-height: 34px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .leave_messageform .big_text {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .leave_messageform .big_text {
        padding-left: 0px;
        padding-right: 0px
    }
}

#cabinet-container.flixo .leave_messageform .small_text {
    font-size: 17px;
    font-weight: bold;
    padding-top: 40px;
    text-align: center
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 70px
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap .leave_messageform_link {
    float: right;
    font-size: 13px;
    color: #e62e4c;
    text-decoration: underline
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form {
    display: inline-block;
    margin-top: 0px;
    width: 100%
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-item {
    display: inline-block;
    margin-bottom: 17px;
    width: 100%
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form label {
    color: #5d6978;
    font-size: 13px;
    margin: 0
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form label {
        font-size: 11px
    }
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form input[type=text], #cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form input[type=email] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #161d26;
    color: #161d26;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
    width: 100%
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form input[type=text], #cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form input[type=email] {
        font-size: 11px
    }
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions_wrap {
    text-align: center
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions {
    display: inline-block;
    height: 60px;
    margin: 12px 0 0px 0
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions input[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 30px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions input[type=submit] {
        font-size: 17px
    }
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions .submit-arrow {
    display: inline-block;
    height: 60px;
    background: url('../../thermevo_website_management/static/src/images/red_btn_after_60.png?1450773247');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 33px
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions .submit-arrow:before {
    background: url('../../thermevo_website_management/static/src/images/red_btn_icon.png?1450773247');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    height: 60px;
    position: absolute;
    left: -8px;
    width: 16px;
    z-index: 3;
    border-left-color: #fff
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions:hover input[type=submit] {
    background-color: #ff4060
}

#cabinet-container.flixo .leave_messageform .leave_messageform_wrap #profile-edit-form .form-actions:hover .submit-arrow {
    background-position: 0 -60px
}

#cabinet-container.flixo .comments {
    padding-top: 55px;
    max-width: 900px;
    margin: 0 auto
}

#cabinet-container.flixo .comments ul {
    padding: 0
}

#cabinet-container.flixo .comments ul li {
    list-style: none;
    border-top: 1px solid #d3dae1
}

#cabinet-container.flixo .comments ul li .commetn-post {
    *zoom: 1
}

#cabinet-container.flixo .comments ul li .commetn-post:before {
    content: "";
    display: table
}

#cabinet-container.flixo .comments ul li .commetn-post:after {
    content: "";
    display: table;
    clear: both
}

#cabinet-container.flixo .comments ul li .commetn-post .icon1 {
    float: left
}

#cabinet-container.flixo .comments ul li .comment-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #161d26;
    font-size: 17px;
    line-height: 24px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif
}

#cabinet-container.flixo .comments ul li > ul {
    padding-left: 50px
}

#cabinet-container.flixo .comments ul li > ul > ul {
    padding-left: 100px
}

#cabinet-container.flixo .add_new_comment {
    max-width: 900px;
    margin: 0 auto
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo .add_new_comment .comment-reply.active .comment-reply-content {
        display: none
    }
}

#cabinet-container.flixo .comment-reply .comment-reply-content {
    display: none
}

#cabinet-container.flixo .comment-reply.active .comment-reply-content {
    display: block
}

#cabinet-container.flixo .comment-reply .comment-reply-link {
    color: #005c99;
    font-size: 13px;
    border-bottom: 1px dashed #015995;
    line-height: 35px;
    cursor: pointer
}

#cabinet-container.flixo .comment-reply .comment-reply-title {
    color: #5d6978;
    font-size: 13px;
    line-height: 35px
}

#cabinet-container.flixo .comment-reply form textarea {
    border: 1px solid #161d26;
    width: 100%;
    resize: none;
    height: 100px
}

#cabinet-container.flixo .comment-reply form input[type="submit"] {
    color: white;
    background: #e62e4c;
    height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .comment-reply form input[type="submit"] {
        line-height: 40px
    }
}

#cabinet-container.flixo .add_new_comment_link {
    color: white;
    background: #e62e4c;
    line-height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px;
    display: none;
    margin-top: 20px
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo .add_new_comment_link {
        display: inline-block
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .add_new_comment_link {
        line-height: 40px
    }
}

#cabinet-container.flixo .author {
    padding-top: 40px
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo .author {
        padding-top: 20px
    }
}

#cabinet-container.flixo .author .author_img {
    float: left
}

#cabinet-container.flixo .author .author_img img {
    display: block
}

#cabinet-container.flixo .author .icon_wrap {
    float: left;
    position: relative;
    height: 60px
}

#cabinet-container.flixo .author .icon_wrap .tooltip_blog_wrap {
    position: absolute;
    top: 70px;
    left: 0px;
    display: none
}

#cabinet-container.flixo .author .icon_wrap:hover .tooltip_blog_wrap {
    display: block
}

#cabinet-container.flixo .author .icon_wrap .tooltip_blog {
    font-size: 13px;
    color: #5d6978
}

#cabinet-container.flixo .author .icon_wrap .tooltip_blog:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    width: 11px;
    height: 18px;
    background: url("../../images/tooltip-pointer.png")
}

#cabinet-container.flixo .author .icon_wrap .tooltip_blog {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 1px solid #d3dae1;
    top: 18px;
    padding: 15px 20px;
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 17px;
    background: #ffffff
}

#cabinet-container.flixo .author .icon1 {
    background-image: url("../../images/profile_form_icon.png");
    background-color: #e62e4c;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#cabinet-container.flixo .author .blog_author2 {
    background-image: url("../../images/blog_author2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#cabinet-container.flixo .author .blog_author3 {
    background-image: url("../../images/blog_author3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#cabinet-container.flixo .author .t_wrap {
    float: left;
    padding-left: 20px
}

#cabinet-container.flixo .author .t_wrap .t {
    font-size: 13px;
    color: #5d6978;
    line-height: 17px;
    display: table-cell;
    height: 60px;
    vertical-align: middle
}

#cabinet-container.flixo .author .t_wrap .t .author_name {
    color: #005c99;
    font-size: 17px;
    cursor: pointer
}

#cabinet-container.flixo .author .blu_ico {
    background-image: url("../../images/blu_ico.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: right;
    height: 60px;
    width: 60px
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo .author .blu_ico {
        float: none;
        clear: both;
        display: block
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg h1 {
        display: none
    }

    #cabinet-container.flixo.svg .flixo_steps {
        display: none
    }

    #cabinet-container.flixo.svg .query_wrap {
        display: none
    }
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo.svg .filtr {
        width: 100%
    }

    #cabinet-container.flixo.svg .filtr .menu {
        width: 100%
    }

    #cabinet-container.flixo.svg .filtr .menu .btn-filtr {
        display: inline-block;
        float: left;
        width: 187px;
        margin-left: 0px;
        margin-right: 20px
    }
}

@media screen and (max-width: 1279px) and (max-width: 639px) {
    #cabinet-container.flixo.svg .filtr .menu .btn-filtr {
        width: 100%;
        margin-right: 0px
    }
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo.svg .filtr .menu .btn-filtr a {
        font-size: 15px;
        padding-left: 0;
        text-align: center
    }
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo.svg .profile-content {
        width: 100%
    }
}

#cabinet-container.flixo.svg .profile-content .breake {
    display: none
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .profile-content .breake:nth-child(6) {
        display: none
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .profile-content .breake:nth-child(4) {
        display: block
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .profile-content .breake:nth-child(8) {
        display: block
    }
}

@media screen and (max-width: 1279px) {
    #cabinet-container.flixo.svg .profile-content .flixo_steps .flixo_step:nth-child(7) {
        margin-left: -12px;
        margin-top: 20px;
        padding-left: 45px
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo.svg .profile-content .flixo_steps .flixo_step:nth-child(7) {
        margin-left: 0px;
        margin-top: 20px;
        padding-left: 20px
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo.svg .svg_wrap .svg_notice .title {
        font-size: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap .svg_notice .text {
        font-size: 13px
    }

    #cabinet-container.flixo.svg .svg_wrap #svg_controls {
        bottom: 15px;
        top: inherit
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block {
        padding: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .color_block {
        width: 25px;
        height: 20px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .color_block .top_triangle {
        border-width: 0 5px 10px 0
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .color_block .bottom_triangle {
        border-width: 0 0 10px 5px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .name {
        font-size: 15px;
        top: 0px;
        font-weight: normal;
        padding-left: 10px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .buttons {
        padding-top: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block .buttons span {
        padding: 0px 15px;
        font-size: 15px;
        margin-right: 5px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .buttons_top span {
        padding: 0px 15px;
        font-size: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap {
        width: 390px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_list_top {
        font-size: 13px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item {
        width: 369px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_block {
        width: 20px;
        height: 20px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_block .top_triangle {
        border-width: 0 5px 10px 0
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_block .bottom_triangle {
        border-width: 0 0 10px 5px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item:hover .color_block, #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item.active .color_block {
        width: 25px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_name {
        padding-left: 38px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .material_list_wrap .material_item .color_name br {
        display: none
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .buttons_right {
        left: 406px
    }

    #cabinet-container.flixo.svg .svg_wrap .item_group_block_change .buttons_right span {
        padding: 0px 15px;
        font-size: 15px;
        min-width: 140px
    }

    #cabinet-container.flixo.svg .svg_wrap .create_material .color {
        width: 20px;
        height: 20px
    }

    #cabinet-container.flixo.svg .svg_wrap .create_material .title {
        line-height: 20px
    }

    #cabinet-container.flixo.svg .svg_wrap .create_material .create_ready {
        position: relative;
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: white;
        font-size: 15px;
        bottom: inherit;
        background: #e62e4c;
        cursor: pointer
    }

    #cabinet-container.flixo.svg .svg_wrap .create_material .close_create {
        width: 40px;
        height: 40px;
        line-height: 40px;
        right: -48px;
        font-size: 20px
    }

    #cabinet-container.flixo.svg .svg_wrap .chose_temperature .chose_temperature_left .text {
        width: 297px;
        font-size: 15px;
        line-height: 17px
    }

    #cabinet-container.flixo.svg .svg_wrap .chose_temperature .chose_temperature_right .button_interior {
        padding: 0px 15px;
        font-size: 15px;
        min-width: 150px
    }

    #cabinet-container.flixo.svg .svg_wrap .chose_temperature .chose_temperature_right .temperature_ready {
        padding: 0px 15px;
        font-size: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap .notice_temperature {
        padding: 25px;
        width: 310px
    }

    #cabinet-container.flixo.svg .svg_wrap .notice_temperature .buttons .button_cheak {
        padding: 0px 23px;
        font-size: 15px;
        margin-left: 0px;
        margin-bottom: 5px
    }

    #cabinet-container.flixo.svg .svg_wrap .notice_temperature .buttons .button_result {
        padding: 0px 23px;
        font-size: 15px
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo.svg .svg_wrap_result .result_formula .top_part {
        font-size: 15px
    }

    #cabinet-container.flixo.svg .svg_wrap_result .result_formula table {
        font-size: 15px
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo.svg .svg_wrap_result .result_buttons .mobile_separate {
        display: block;
        height: 15px
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.flixo.svg .svg_wrap_result .result_table thead th {
        font-size: 13px;
        font-weight: normal
    }

    #cabinet-container.flixo.svg .svg_wrap_result .result_table tbody td {
        font-size: 13px
    }

    #cabinet-container.flixo.svg .svg_wrap_result .result_table .word_breake {
        width: 100px
    }

    #cabinet-container.flixo.svg .svg_wrap_result .result_table.mobile {
        display: block
    }

    #cabinet-container.flixo.svg .svg_wrap_result .result_table.descktop {
        display: none
    }
}

#cabinet-container.flixo.svg .mobile_svg {
    display: none;
    font-size: 30px;
    color: #161d26;
    text-align: center;
    padding: 40px 0px
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .mobile_svg {
        display: block
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .save_pdf {
        display: none
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.flixo.svg .svg_wrap_result, #cabinet-container.flixo.svg .svg_wrap {
        display: none
    }
}
