@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

@font-face {
    font-family: "FontAwesome";
    src: url('/thermevo_website_management/static/src/fonts/FontAwesome.otf?1452321454') format('opentype'), url('/thermevo_website_management/static/src/fonts/fontawesome-webfont.eot?1452321454') format('embedded-opentype'), url('/thermevo_website_management/static/src/fonts/fontawesome-webfont.svg?1452321454') format('svg'), url('/thermevo_website_management/static/src/fonts/fontawesome-webfont.ttf?1452321454') format('truetype'), url('/thermevo_website_management/static/src/fonts/fontawesome-webfont.woff?1452321454') format('woff'), url('/thermevo_website_management/static/src/fonts/fontawesome-webfont.woff2?1452321454') format('woff2')
}

#iqub-container.foam .foam_first_img {
    background: url('/thermevo_website_management/static/src/images/foam_first_img.jpg?1455198943');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 610px;
    padding-bottom: 25px
}

#iqub-container.foam .foam_first_img .first_text {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 190px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_first_img .first_text {
        padding-top: 150px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_first_img .first_text {
        padding-top: 165px;
        font-size: 20px
    }
}

#iqub-container.foam .foam_first_img .second_text {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 55px;
    line-height: 52px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_first_img .second_text {
        font-size: 45px
    }
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_first_img .second_text {
        font-size: 40px;
        line-height: 42px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_first_img .second_text {
        padding-top: 60px;
        font-size: 30px
    }
}

#iqub-container.foam .foam_first_img .button {
    text-align: center;
    padding-top: 92px
}

#iqub-container.foam .foam_first_img .button .red {
    background-color: #e62e4c;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    height: 64px;
    line-height: 64px;
    padding: 0 75px 0 75px;
    text-decoration: none
}

#iqub-container.foam .foam_first_img .button .red:hover {
    color: #fff;
    background-color: #ff4060;
    text-decoration: none
}

#iqub-container.foam .top_links {
    padding-top: 40px
}

#iqub-container.foam .top_links .width33 {
    width: 33.33%;
    float: left;
    text-align: center;
    min-height: 10px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .top_links .width33 {
        width: 100%;
        padding-bottom: 10px
    }

    #iqub-container.foam .top_links .width33 br {
        display: none
    }
}

#iqub-container.foam .top_links .width33 a {
    color: #3d9fe8;
    font-size: 18px;
    text-decoration: underline;
    line-height: 20px
}

#iqub-container.foam .text_background {
    padding-bottom: 75px;
    text-align: center
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .text_background {
        padding-left: 20px;
        padding-right: 20px
    }
}

#iqub-container.foam .text_background .big_text {
    font-size: 48px;
    color: #161d26;
    font-weight: bold;
    text-transform: uppercase
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .text_background .big_text {
        font-size: 36px
    }
}

#iqub-container.foam .text_background .small_text {
    padding-top: 25px;
    font-size: 16px;
    color: #000000;
    line-height: 18px;
    margin: 0 auto
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .text_background .small_text {
        width: auto
    }
}

#iqub-container.foam .foam_europe {
    height: 704px;
    background: url('/thermevo_website_management/static/src/images/foam_europe.jpg?1455201486');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_europe {
        height: auto
    }
}

#iqub-container.foam .foam_europe .blue_text {
    margin: 0 auto;
    margin-top: 160px;
    background: #005c99;
    font-size: 24px;
    color: #ffffff;
    width: 550px;
    padding: 0px 72px;
    padding-top: 75px;
    padding-bottom: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 28px
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_europe .blue_text {
        padding: 20px;
        width: auto;
        font-size: 16px;
        line-height: 20px;
        margin: 50px auto
    }
}

#iqub-container.foam .white_text {
    padding: 80px 0px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: 300
}

#iqub-container.foam .foam_stefan_bg {
    height: 700px;
    background: url('/thermevo_website_management/static/src/images/foam_stefan_bg.jpg?1455202755');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan_bg {
        height: auto
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_stefan_bg {
        padding: 45px 20px
    }
}

#iqub-container.foam .foam_stefan {
    width: 918px;
    height: 459px;
    margin: 0 auto;
    background: #005c99
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan {
        width: 100%;
        height: 267px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_stefan {
        height: auto
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_text {
    width: 50%;
    float: left;
    height: 459px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text {
        height: 267px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text {
        width: 100%;
        float: none
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_img {
    width: 50%;
    float: right;
    height: 459px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_img {
        height: 267px
    }

    #iqub-container.foam .foam_stefan .foam_stefan_img img {
        width: 100%;
        height: auto
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_stefan .foam_stefan_img {
        width: 100%;
        float: none;
        height: auto
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_text {
    color: #ffffff;
    font-weight: 300;
    padding-left: 50px;
    box-sizing: border-box
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text {
        padding-left: 20px
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_text .first_text {
    padding-top: 95px;
    font-size: 48px;
    text-transform: uppercase
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text .first_text {
        padding-top: 30px;
        font-size: 32px
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_text .second_text {
    padding-top: 30px;
    font-size: 18px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text .second_text {
        padding-top: 15px;
        font-size: 16px
    }
}

#iqub-container.foam .foam_stefan .foam_stefan_text .third_text {
    padding-top: 30px;
    font-size: 24px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_stefan .foam_stefan_text .third_text {
        padding-top: 10px;
        font-size: 22px
    }
}

#iqub-container.foam .foam_texts_wrap {
    padding-bottom: 70px
}

#iqub-container.foam .foam_texts_wrap .bottom_part .foam_texts {
    padding-top: 35px
}

#iqub-container.foam .foam_texts_wrap .foam_texts {
    padding-top: 70px;
    font-size: 17px;
    color: #151515
}

#iqub-container.foam .foam_texts_wrap .foam_texts.width50 {
    width: 50%;
    float: left;
    box-sizing: border-box
}

#iqub-container.foam .foam_texts_wrap .foam_texts.width50:nth-child(2n-1) {
    padding-right: 24px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .foam_texts.width50:nth-child(2n-1) {
        padding-right: 0px
    }
}

#iqub-container.foam .foam_texts_wrap .foam_texts.width50:nth-child(2n) {
    padding-left: 24px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .foam_texts.width50:nth-child(2n) {
        padding-left: 0px
    }
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .foam_texts.width50 {
        width: 100%;
        padding: 0px;
        padding-top: 40px
    }
}

#iqub-container.foam .foam_texts_wrap .foam_texts.center_text {
    width: 950px;
    margin: 0 auto;
    text-align: center
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .foam_texts.center_text {
        width: 100%
    }
}

#iqub-container.foam .foam_texts_wrap .foam_texts .number {
    text-align: center;
    font-weight: 300
}

#iqub-container.foam .foam_texts_wrap .foam_texts .title {
    font-weight: bold;
    padding-top: 30px
}

#iqub-container.foam .foam_texts_wrap .foam_texts .text {
    font-weight: 300;
    padding-top: 30px
}

#iqub-container.foam .foam_comparison {
    background-color: #005c99
}

#iqub-container.foam .foam_comparison .foam_comparison_top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

#iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    color: #ffffff
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_title {
        font-size: 30px
    }
}

#iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_img {
    padding-top: 50px;
    text-align: center
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_img img {
        width: 100%;
        height: auto
    }
}

#iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_text {
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    line-height: 20px;
    padding-top: 55px;
    padding-bottom: 65px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_text {
        max-width: 780px
    }
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_text {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .foam_comparison_top .foam_comparison_text {
        padding-left: 0px;
        padding-right: 0px
    }
}

#iqub-container.foam .foam_comparison.compare_system_graph_wrap {
    background: #044476
}

#iqub-container.foam .foam_comparison .compare_system {
    padding-top: 60px;
    padding-bottom: 70px
}

#iqub-container.foam .foam_comparison .compare_system:nth-child(2n) {
    background: #044476
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_group {
    padding-top: 55px
}

#iqub-container.foam .foam_comparison .compare_system .step, #iqub-container.foam .foam_comparison .compare_system .title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #ffffff
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .compare_system .step, #iqub-container.foam .foam_comparison .compare_system .title {
        padding-right: 20px;
        padding-left: 20px
    }
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_item {
    width: 25%;
    float: left;
    text-align: center
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_comparison .compare_system .compare_system_item {
        width: 50%;
        padding-top: 20px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .compare_system .compare_system_item {
        width: 100%;
        float: none
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .compare_system .compare_system_item img {
        width: 100%;
        height: auto
    }
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_item .item_title {
    padding-top: 25px;
    font-size: 18px;
    color: #ffffff;
    max-width: 180px;
    margin: 0 auto;
    font-weight: 600;
    height: 70px;
    line-height: 20px
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_item .item_link {
    padding-top: 5px
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_item .item_link .result {
    line-height: 46px;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 25px;
    display: inline-block;
    height: 46px
}

#iqub-container.foam .foam_comparison .compare_system .compare_system_item .item_link .result.active {
    background: #0196cb
}

#iqub-container.foam .foam_comparison .compare_system.compare_system_graph {
    text-align: center
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .foam_comparison .compare_system.compare_system_graph {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .compare_system.compare_system_graph {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .foam_comparison .compare_system.compare_system_graph img {
        width: 100%;
        height: auto
    }
}

#iqub-container.foam .foam_comparison .compare_system.compare_system_graph .compare_text {
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    font-weight: 300;
    max-width: 780px;
    margin: 0 auto
}

#iqub-container.foam .foam_comparison .compare_system.compare_system_graph .graph_img {
    padding-top: 50px
}

#iqub-container.foam .white_block {
    padding: 60px 0px;
    font-size: 17px;
    color: #151515;
    text-align: center
}

#iqub-container.foam .white_block .white_block_text, #iqub-container.foam .white_block .white_block_text_button {
    max-width: 780px;
    margin: 0 auto
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .white_block .white_block_text, #iqub-container.foam .white_block .white_block_text_button {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .white_block .white_block_text, #iqub-container.foam .white_block .white_block_text_button {
        padding-left: 30px;
        padding-right: 30px
    }
}

#iqub-container.foam .white_block .white_block_text_button {
    padding-top: 30px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .white_block {
        padding: 40px 0px
    }
}

#iqub-container.foam .foam_texts_wrap .left_part {
    float: left;
    width: 50%;
    padding-right: 24px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .left_part {
        padding-right: 0px;
        width: 100%
    }
}

#iqub-container.foam .foam_texts_wrap .right_part {
    float: left;
    width: 50%;
    padding-left: 24px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .foam_texts_wrap .right_part {
        padding-left: 0px;
        width: 100%
    }
}

#iqub-container.foam .profile_form {
    padding-top: 40px
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .profile_form {
        padding-left: 20px;
        padding-right: 20px
    }
}

#iqub-container.foam .profile_form .big_text {
    max-width: 790px;
    font-size: 30px;
    color: #000000;
    margin: 0 auto;
    font-weight: 300;
    line-height: 34px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .profile_form .big_text {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .profile_form .big_text {
        padding-left: 0px;
        padding-right: 0px
    }
}

#iqub-container.foam .profile_form .small_text {
    font-size: 17px;
    font-weight: bold;
    padding-top: 40px;
    text-align: center
}

#iqub-container.foam .profile_form .profile_form_wrap {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 70px
}

#iqub-container.foam .profile_form .profile_form_wrap .profile_form_link {
    float: right;
    font-size: 13px;
    color: #e62e4c;
    text-decoration: underline
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form {
    display: inline-block;
    margin-top: 0px;
    width: 100%
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-item {
    display: inline-block;
    margin-bottom: 17px;
    width: 100%
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form label {
    color: #5d6978;
    font-size: 13px;
    margin: 0
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form label {
        font-size: 11px
    }
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form input[type=text], #iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form input[type=email] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #161d26;
    color: #161d26;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
    width: 100%
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form input[type=text], #iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form input[type=email] {
        font-size: 11px
    }
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions_wrap {
    text-align: center
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions {
    display: inline-block;
    height: 60px;
    margin: 12px 0 60px 0
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions input[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 30px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions input[type=submit] {
        font-size: 17px
    }
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions .submit-arrow {
    display: inline-block;
    height: 60px;
    background: url('/thermevo_website_management/static/src/images/red_btn_after_60.png?1450773247');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 33px
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions .submit-arrow:before {
    background: url('/thermevo_website_management/static/src/images/red_btn_icon.png?1450773247');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    height: 60px;
    position: absolute;
    left: -8px;
    width: 16px;
    z-index: 3;
    border-left-color: #fff
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions:hover input[type=submit] {
    background-color: #ff4060
}

#iqub-container.foam .profile_form .profile_form_wrap #profile-edit-form .form-actions:hover .submit-arrow {
    background-position: 0 -60px
}

#iqub-container.foam .foam_lines img {
    width: 100%;
    height: auto
}

#iqub-container.foam .comments {
    padding-top: 55px;
    max-width: 900px;
    margin: 0 auto
}

#iqub-container.foam .comments ul {
    padding: 0
}

#iqub-container.foam .comments ul li {
    list-style: none;
    border-top: 1px solid #d3dae1
}

#iqub-container.foam .comments ul li .commetn-post {
    *zoom: 1
}

#iqub-container.foam .comments ul li .commetn-post:before {
    content: "";
    display: table
}

#iqub-container.foam .comments ul li .commetn-post:after {
    content: "";
    display: table;
    clear: both
}

#iqub-container.foam .comments ul li .commetn-post .icon1 {
    float: left
}

#iqub-container.foam .comments ul li .comment-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #161d26;
    font-size: 17px;
    line-height: 24px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif
}

#iqub-container.foam .comments ul li > ul {
    padding-left: 50px
}

#iqub-container.foam .comments ul li > ul > ul {
    padding-left: 100px
}

#iqub-container.foam .add_new_comment {
    max-width: 900px;
    margin: 0 auto
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .add_new_comment .comment-reply.active .comment-reply-content {
        display: none
    }
}

#iqub-container.foam .comment-reply .comment-reply-content {
    display: none
}

#iqub-container.foam .comment-reply.active .comment-reply-content {
    display: block
}

#iqub-container.foam .comment-reply .comment-reply-link {
    color: #005c99;
    font-size: 13px;
    border-bottom: 1px dashed #015995;
    line-height: 35px;
    cursor: pointer
}

#iqub-container.foam .comment-reply .comment-reply-title {
    color: #5d6978;
    font-size: 13px;
    line-height: 35px
}

#iqub-container.foam .comment-reply form textarea {
    border: 1px solid #161d26;
    width: 100%;
    resize: none;
    height: 100px
}

#iqub-container.foam .comment-reply form input[type="submit"] {
    color: white;
    background: #e62e4c;
    height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .comment-reply form input[type="submit"] {
        line-height: 40px
    }
}

#iqub-container.foam .add_new_comment_link {
    color: white;
    background: #e62e4c;
    line-height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px;
    display: none;
    margin-top: 20px
}

@media screen and (max-width: 1279px) {
    #iqub-container.foam .add_new_comment_link {
        display: inline-block
    }
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .add_new_comment_link {
        line-height: 40px
    }
}

#iqub-container.foam .author {
    padding-top: 40px
}

@media screen and (max-width: 959px) {
    #iqub-container.foam .author {
        padding-top: 20px
    }
}

#iqub-container.foam .author .author_img {
    float: left
}

#iqub-container.foam .author .author_img img {
    display: block
}

#iqub-container.foam .author .icon_wrap {
    float: left;
    position: relative;
    height: 60px
}

#iqub-container.foam .author .icon_wrap .tooltip_blog_wrap {
    position: absolute;
    top: 70px;
    left: 0px;
    display: none
}

#iqub-container.foam .author .icon_wrap:hover .tooltip_blog_wrap {
    display: block
}

#iqub-container.foam .author .icon_wrap .tooltip_blog {
    font-size: 13px;
    color: #5d6978
}

#iqub-container.foam .author .icon_wrap .tooltip_blog:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    width: 11px;
    height: 18px;
    background: url("/thermevo_website_management/static/src/images/tooltip-pointer.png")
}

#iqub-container.foam .author .icon_wrap .tooltip_blog {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 1px solid #d3dae1;
    top: 18px;
    padding: 15px 20px;
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 17px;
    background: #ffffff
}

#iqub-container.foam .author .icon1 {
    background-image: url("/thermevo_website_management/static/src/images/profile_form_icon.png");
    background-color: #e62e4c;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#iqub-container.foam .author .blog_author2 {
    background-image: url("/thermevo_website_management/static/src/images/blog_author2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#iqub-container.foam .author .blog_author3 {
    background-image: url("/thermevo_website_management/static/src/images/blog_author3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 60px;
    width: 60px
}

#iqub-container.foam .author .t_wrap {
    float: left;
    padding-left: 20px
}

#iqub-container.foam .author .t_wrap .t {
    font-size: 13px;
    color: #5d6978;
    line-height: 17px;
    display: table-cell;
    height: 60px;
    vertical-align: middle
}

#iqub-container.foam .author .t_wrap .t .author_name {
    color: #005c99;
    font-size: 17px;
    cursor: pointer
}

#iqub-container.foam .author .blu_ico {
    background-image: url("/thermevo_website_management/static/src/images/blu_ico.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: right;
    height: 60px;
    width: 60px
}

@media screen and (max-width: 639px) {
    #iqub-container.foam .author .blu_ico {
        float: none;
        clear: both;
        display: block
    }
}

#iqub-container.foam .profile_form .profile_form_wrap .form-item .error-text {
    color: #e62e4c;
    display: none;
    font-size: 13px;
}

#iqub-container.foam .profile_form .profile_form_wrap .form-item .error-box {
    border: 1px solid #e62e4c!important;
}

