#header-menu-left li a, #header-menu-right li a {
    text-transform: none !important;
    font-size: 15px !important
}

#header-menu-left li a .tt {
    text-transform: uppercase
}

.f-g-wrap {
    background-color: #004E9A;
    color: #fff;
    padding: 40px 0
}

.f-g-wrap .section::after {
    content: '';
    display: block;
    clear: both
}

.f-g-block {
    float: left
}

.f-g-block:nth-child(1) {
    width: 100%
}

.f-g-block:nth-child(2), .f-g-block:nth-child(3), .f-g-block:nth-child(4) {
    width: 33.333%;
    text-align: center;
    padding: 0 20px
}

.f-g-wrap img {
    display: block;
    max-width: 177px;
    margin: 0 auto
}

.f-g-image {
    margin-bottom: 35px
}

.f-g-title h1 {
    font-size: 48px;
    margin-bottom: 60px;
    line-height: 130%
}

.f-g-title h5 {
    max-width: 87%;
    margin: 0 auto 20px;
    font-size: 15px;
    font-weight: bold
}

.f-g-text {
    max-width: 90%;
    margin: 0 auto
}

#three-blocks .block:nth-child(1) {
    background-color: #0085E9
}

#three-blocks .block:nth-child(2) {
    background: #0065CF url('/thermevo_website_management/static/src/images/block_icon2_new.png') no-repeat top 60px center
}

#three-blocks .block:nth-child(3) {
    background: #FB0042 url('/thermevo_website_management/static/src/images/block_icon2.png') no-repeat top 60px center
}

.red-btn-link {
    background-color: #FB0042
}

.red-btn-link:after {
    border-left-color: #FB0042
}

.tt {
    text-transform: uppercase
}

#clients-slider .author {
    margin-top: 20px
}

#clients-slider .title {
    padding: 15px 0
}

.cart-link, .login-link, .language-btn {
    margin-left: 5px
}

.cart-link {
    background-color: #FB0042;
    padding: 0 25px 0 34px
}

#video-block {
    padding: 50px 0;
    background: #0065CE
}

#video-block iframe {
    width: 100%;
    height: 500px
}

#clients-slider {
    background: #5FB1F1
}

#clients-slider img {
    display: inline-block;
    width: 240px
}

#clients-slider .swiper-button-next, #clients-slider .swiper-button-prev {
    top: 90px
}

#online-block .top {
    margin-top: 0
}

#online-block .link-container {
    padding: 40px 0
}

#online-block > .section:nth-child(1) .link-container {
    padding-top: 0
}

#clients-slider .logo {
    padding: 30px 0
}

.thermevo-bg iframe {
    display: block;
    width: 100%;
    height: 500px
}

#blog-story {
    padding: 0 0 60px;
    background: #AED9F9;
    text-align: center
}

#blog-story img {
    display: inline-block;
    width: 240px;
    padding: 30px 0
}

#blog-story .author {
    margin-top: 20px;
    color: #5d6978;
    font-size: 13px
}

#blog-story .title {
    color: #161d26;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0
}

#thermevoblog-block .mid {
    padding: 140px 0 0;
    position: relative;
    border: none;
    margin-bottom: 50px
}

#thermevoblog-block .mid::before {
    content: '';
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 0;
    background: url('/thermevo_website_management/static/src/images/chat.png') no-repeat center;
    background-size: contain;
}

#thermevoblog-block .mid h2 {
    margin: 0
}

#thermevoblog-block .bot {
    padding: 50px 0
}

@media screen and (min-width: 960px) {
    #three-blocks .block:nth-child(1):before {
        background-color: #0085E9
    }

    #three-blocks .block:nth-child(3):before {
        background-color: #FB0042
    }
}

@media screen and (min-width: 1280px) {
    #iqub-container .bottom-blocks-container .block .block-body .t {
        padding-bottom: 15px
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    #three-blocks .block:nth-child(1):before {
        background-color: #0085E9
    }

    #three-blocks .block:nth-child(2):before {
        background-color: #0065CF
    }

    #three-blocks .block:nth-child(3):before, #three-blocks .block:nth-child(3):after {
        background-color: #FB0042
    }
}

@media screen and (max-width: 959px) {
    .f-g-block:nth-child(2), .f-g-block:nth-child(3) {
        width: 50%
    }

    .f-g-block:nth-child(4) {
        width: 100%;
        margin-top: 30px
    }

    .f-g-title h1 {
        font-size: 35px;
        text-align: center
    }

    #iqub-container .btns-container .red-btn-link:first-child:after {
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    #online-block .mid .block {
        margin-bottom: 20px
    }

    #online-block .mid .block:last-child {
        margin-bottom: 0
    }
}

@media screen and (max-width: 639px) {
    #three-blocks .block:nth-child(1):before, #three-blocks .block:nth-child(1):after {
        background-color: #0085E9
    }

    #three-blocks .block:nth-child(2):before, #three-blocks .block:nth-child(2):after {
        background-color: #0065CF
    }

    #three-blocks .block:nth-child(3):before, #three-blocks .block:nth-child(3):after {
        background-color: #FB0042
    }

    .f-g-image {
        margin-bottom: 15px
    }

    .f-g-block:nth-child(2), .f-g-block:nth-child(3), .f-g-block:nth-child(4) {
        width: 100%;
        margin-bottom: 30px
    }
}

@media screen and (max-width: 400px) {
    .f-g-title h1 {
        font-size: 25px;
        margin-bottom: 30px
    }
}