.front_new .main_new_front_bg {
    background: url(/thermevo_website_management/static/src/images/front_main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 824px;
    width: 100%;
    text-align: center;
    position: relative
}

.front_new .main_new_front_bg .big_text {
    color: #fff;
    font-family: "AgencyFB";
    font-size: 150px;
    font-weight: bold;
    line-height: 150px;
    padding-top: 11%;
    letter-spacing: 98px
}

@media only screen and (max-width: 1400px) {
    .front_new .main_new_front_bg .big_text {
        font-size: 120px;
        line-height: 120px
    }
}

@media only screen and (max-width: 1260px) {
    .front_new .main_new_front_bg .big_text {
        font-size: 100px;
        line-height: 100px;
        letter-spacing: 40px
    }
}

@media only screen and (max-width: 800px) {
    .front_new .main_new_front_bg .big_text {
        font-size: 70px;
        line-height: 70px;
        letter-spacing: 20px
    }
}

@media only screen and (max-width: 520px) {
    .front_new .main_new_front_bg .big_text {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 10px
    }
}

.front_new .main_new_front_bg .small_text {
    color: #fff;
    font-family: "AgencyFB";
    font-size: 36px;
    font-weight: 100;
    padding-top: 21px;
    line-height: 36px;
    letter-spacing: 6px
}

@media only screen and (max-width: 800px) {
    .front_new .main_new_front_bg .small_text {
        font-size: 25px;
        line-height: 25px
    }
}

.front_new .main_new_front_bg .arrow_down {
    width: 30px;
    margin-left: -15px;
    position: absolute;
    bottom: 107px;
    left: 50%
}

.front_new .main_new_front_bg .arrow_down img {
    width: 30px;
    height: auto
}

.front_new .two_blocks_after_new_front_bg {
    display: flex
}

@media only screen and (max-width: 1024px) {
    .front_new .two_blocks_after_new_front_bg {
        flex-wrap: wrap
    }
}

.front_new .two_blocks_after_new_front_bg .red {
    background: #e62e4c;
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    width: 50%;
    position: relative;
    top: -49px;
    min-height: 499px;
    padding-left: 6%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

@media only screen and (max-width: 1200px) {
    .front_new .two_blocks_after_new_front_bg .red {
        font-size: 30px
    }
}

@media only screen and (max-width: 1024px) {
    .front_new .two_blocks_after_new_front_bg .red {
        width: 100%;
        top: 0px;
        padding: 40px;
        min-height: auto
    }
}

@media only screen and (max-width: 767px) {
    .front_new .two_blocks_after_new_front_bg .red {
        font-size: 25px;
        line-height: 1.5
    }
}

@media only screen and (max-width: 400px) {
    .front_new .two_blocks_after_new_front_bg .red {
        padding: 20px;
        font-size: 20px
    }
}

.front_new .two_blocks_after_new_front_bg .red .bottom_button {
    padding-top: 30px
}

.front_new .two_blocks_after_new_front_bg .white {
    background: #ffffff;
    color: #161d26;
    font-size: 33px;
    font-weight: 700;
    line-height: 42px;
    width: 50%;
    position: relative;
    min-height: 499px;
    padding-left: 11%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

@media only screen and (max-width: 1024px) {
    .front_new .two_blocks_after_new_front_bg .white {
        width: 100%;
        top: 0px;
        padding: 40px;
        min-height: auto
    }
}

@media only screen and (max-width: 767px) {
    .front_new .two_blocks_after_new_front_bg .white {
        font-size: 27px;
        line-height: 1.5
    }
}

@media only screen and (max-width: 400px) {
    .front_new .two_blocks_after_new_front_bg .white {
        padding: 20px;
        font-size: 20px
    }
}

.front_new .two_blocks_after_new_front_bg .white .bottom_button {
    padding-top: 30px
}

.front_new .two_blocks_after_new_front_bg .red-btn-link-small {
    background-color: #e62e4c;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 0 24px 0 27px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    line-height: 46px;
    font-size: 18px;
    font-weight: 700
}

.front_new .two_blocks_after_new_front_bg .red-btn-link-small:before {
    background: url("/thermevo_website_management/static/src/images/red_btn_icon.png");
    background-repeat: no-repeat;
    background-position: center !important;
    content: '';
    height: 46px;
    position: absolute;
    right: -5px;
    width: 16px;
    z-index: 3;
    background-size: 10px 15px
}

.front_new .two_blocks_after_new_front_bg .red-btn-link-small:after {
    content: '';
    border-top: 23px solid transparent;
    border-left: 23px solid #e62e4c;
    border-bottom: 23px solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    right: -23px;
    width: 0;
    z-index: 2
}

.front_new .two_blocks_after_new_front_bg .white-btn-link-small {
    background-color: white;
    color: #161d26;
    display: inline-block;
    padding: 0 32px 0 26px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    line-height: 46px;
    font-size: 18px;
    font-weight: 700
}

.front_new .two_blocks_after_new_front_bg .white-btn-link-small:before {
    background: url("/thermevo_website_management/static/src/images/white_btn_icon.png");
    background-repeat: no-repeat;
    background-position: center !important;
    content: '';
    height: 46px;
    position: absolute;
    right: -5px;
    width: 16px;
    z-index: 3;
    background-size: 10px 15px
}

.front_new .two_blocks_after_new_front_bg .white-btn-link-small:after {
    content: '';
    border-top: 23px solid transparent;
    border-left: 23px solid white;
    border-bottom: 23px solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    right: -23px;
    width: 0;
    z-index: 2
}

.front_new .two_blocks_after_new_front_bg .white-btn-link-small:hover {
    background-color: white;
    color: #161d26;
    text-decoration: none
}

.front_new .main_new_before_slider {
    color: white;
    font-family: "Myriad Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    background: #253140;
    margin-top: -49px;
    padding-top: 93px;
    padding-bottom: 69px
}

@media only screen and (max-width: 1200px) {
    .front_new .main_new_before_slider {
        padding-left: 20px;
        padding-right: 20px
    }
}

.front_new .main_new_before_slider .container_custom {
    max-width: 1225px;
    margin: 0 auto
}

.front_new .main_new_before_slider .container_custom .img_left {
    float: left;
    margin-right: 54px
}

@media only screen and (max-width: 639px) {
    .front_new .main_new_before_slider .container_custom .img_left {
        float: none;
        text-align: center;
        margin: 0px;
        padding-bottom: 30px
    }
}

.front_new .main_new_before_slider .container_custom .text_right {
    padding-top: 43px
}

@media only screen and (max-width: 1024px) {
    .front_new .main_new_before_slider .container_custom .text_right {
        padding-top: 0px
    }
}

.front_new #three-blocks .section {
    display: flex;
    flex-wrap: wrap
}

.front_new #three-blocks .block {
    height: auto;
    padding: 160px 25px 20px 25px
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    .front_new #three-blocks .block {
        height: 480px
    }
}

@media screen and (min-width: 960px) {
    .front_new #three-blocks .block .m {
        min-height: 165px
    }
}

.front_new #three-blocks .block:nth-child(1), .front_new #three-blocks .block:nth-child(2), .front_new #three-blocks .block:nth-child(3) {
    background-position: top 37px center
}

.front_new #three-blocks .block .white-btn-link {
    background-color: white;
    color: #161d26 !important;
    display: inline-block;
    font-weight: bold;
    padding: 0 42px 0 23px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none
}

.front_new #three-blocks .block .white-btn-link:hover {
    background-color: white;
    color: #161d26;
    text-decoration: none
}

@media screen and (max-width: 959px) {
    .front_new #three-blocks .block .white-btn-link {
        font-size: 17px;
        height: 46px;
        line-height: 46px
    }

    .front_new #three-blocks .block .white-btn-link:before {
        background: url("/thermevo_website_management/static/src/images/white_btn_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        height: 46px;
        position: absolute;
        right: 0px;
        width: 16px;
        z-index: 3;
        border-left-color: #fff
    }

    .front_new #three-blocks .block .white-btn-link:after {
        content: '';
        border-top: 23px solid transparent;
        border-left: 23px solid white;
        border-bottom: 23px solid transparent;
        height: 0;
        position: absolute !important;
        top: 0;
        right: -23px;
        width: 0;
        z-index: 2;
        background: none !important
    }

    .front_new #three-blocks .block .white-btn-link:hover:after {
        border-top: 23px solid transparent;
        border-left: 23px solid white;
        border-bottom: 23px solid transparent
    }
}

@media screen and (min-width: 960px) {
    .front_new #three-blocks .block .white-btn-link {
        font-size: 18px;
        height: 46px;
        line-height: 46px
    }

    .front_new #three-blocks .block .white-btn-link:before {
        background: url("/thermevo_website_management/static/src/images/white_btn_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        height: 46px;
        position: absolute;
        right: 0px;
        width: 16px;
        z-index: 3
    }

    .front_new #three-blocks .block .white-btn-link:after {
        content: '';
        border-top: 23px solid transparent;
        border-left: 23px solid white;
        border-bottom: 23px solid transparent;
        height: 0;
        position: absolute !important;
        top: 0;
        right: -23px;
        width: 0;
        z-index: 2;
        background: none !important
    }

    .front_new #three-blocks .block .white-btn-link:hover:after {
        border-top: 23px solid transparent;
        border-left: 23px solid white;
        border-bottom: 23px solid transparent
    }
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    .front_new #three-blocks .block .white-btn-link {
        font-size: 17px
    }
}

.front_new .front_slider {
    height: 566px
}

.front_new .front_slider .swiper-button-prev {
    background: url(/thermevo_website_management/static/src/images/slider_prev.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    left: 10px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 25px
}

.front_new .front_slider .swiper-button-next {
    background: url(/thermevo_website_management/static/src/images/slider_next.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px
}

.front_new .front_slider .swiper-slide {
    height: 566px
}

.front_new .front_slider .left {
    width: 62%
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    .front_new .front_slider .left {
        width: 75%
    }
}

@media screen and (max-width: 639px) {
    .front_new .front_slider .left {
        width: 100%
    }
}

.front_new .front_slider .slider_title {
    font-size: 36px;
    margin-top: 115px;
    line-height: 43px
}

@media screen and (max-width: 1279px) {
    .front_new .front_slider .slider_title {
        margin-top: 40px;
        font-size: 32px
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    .front_new .front_slider .slider_title {
        font-size: 24px
    }
}

@media screen and (max-width: 639px) {
    .front_new .front_slider .slider_title {
        font-size: 20px;
        line-height: 25px
    }
}

.front_new .front_slider .slider_subitle {
    color: #fff;
    font-size: 20px;
    padding-right: 16%;
    padding-top: 6px;
    line-height: 33px
}

@media screen and (max-width: 639px) {
    .front_new .front_slider .slider_subitle {
        line-height: 20px;
        padding-right: 0px
    }
}

@media screen and (max-width: 639px) {
    .front_new .front_slider .red-btn-link {
        margin-bottom: 50px
    }
}

@media screen and (min-width: 960px) {
    .front_new .front_slider .red-btn-link {
        font-size: 20px;
        height: 54px;
        line-height: 54px
    }

    .front_new .front_slider .red-btn-link:before {
        height: 54px
    }

    .front_new .front_slider .red-btn-link:after {
        content: '';
        border-top: 27px solid transparent;
        border-left: 27px solid #e62e4c;
        border-bottom: 27px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -27px;
        width: 0;
        z-index: 2
    }

    .front_new .front_slider .red-btn-link:hover:after {
        border-top: 27px solid transparent;
        border-left: 27px solid #ff4060;
        border-bottom: 27px solid transparent
    }
}

.front_new .front_3_first {
    padding-top: 77px;
    background: #005f9f
}

.front_new .front_3_first .slider_title {
    color: white;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px
}

.front_new .front_3_first .swiper-slide img {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: auto
}

.front_new .front_3_first .swiper-slide a {
    display: block;
    color: white;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding: 0px 10px;
    margin: 19px 0px
}

.front_new .front_3_first .swiper-slide a:hover {
    opacity: 0.6
}

.front_new .front_3_first .front_3_first-subwrap {
    padding: 0px 44px;
    padding-top: 27px;
    position: relative;
    padding-bottom: 54px
}

.front_new .front_3_first .front_3_first-container {
    overflow: hidden
}

.front_new .front_3_first .swiper-button-prev {
    background: url(/thermevo_website_management/static/src/images/slider_prev.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    left: 0;
    margin-top: -20px;
    position: absolute;
    top: 140px;
    width: 25px
}

.front_new .front_3_first .swiper-button-next {
    background: url(/thermevo_website_management/static/src/images/slider_next.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    right: 0;
    top: 140px;
    width: 25px
}

.front_new .front_3_tabs {
    padding-top: 68px;
    padding-bottom: 74px
}

.front_new .front_3_tabs .slider_title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px
}

.front_new .front_3_tabs .front_3_tabs_ul {
    margin: 0px;
    padding: 0px;
    padding-top: 29px
}

.front_new .front_3_tabs .front_3_tabs_ul li {
    display: block;
    width: 50%;
    padding-right: 4px;
    float: left
}

@media screen and (max-width: 639px) {
    .front_new .front_3_tabs .front_3_tabs_ul li {
        width: 100%;
        padding: 0px !important
    }
}

.front_new .front_3_tabs .front_3_tabs_ul li:nth-child(2) {
    padding-left: 4px;
    padding-right: 0px
}

.front_new .front_3_tabs .front_3_tabs_ul li span {
    display: block;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    border: 3px solid #edf0f2;
    text-align: center
}

@media screen and (max-width: 639px) {
    .front_new .front_3_tabs .front_3_tabs_ul li span {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        padding: 5px
    }
}

.front_new .front_3_tabs .front_3_tabs_ul li.active span, .front_new .front_3_tabs .front_3_tabs_ul li:hover span {
    background: #edf0f2
}

.front_new .front_3_tabs .front_3_tabs-subwraps {
    background: #edf0f2;
    clear: both;
    position: relative;
    top: -3px;
    padding-top: 24px
}

.front_new .front_3_tabs .front_3_tabs-subwrap1, .front_new .front_3_tabs .front_3_tabs-subwrap2 {
    padding: 0px 140px;
    padding-top: 27px;
    position: relative;
    padding-bottom: 54px;
    display: none
}

@media screen and (max-width: 639px) {
    .front_new .front_3_tabs .front_3_tabs-subwrap1, .front_new .front_3_tabs .front_3_tabs-subwrap2 {
        padding: 0px 65px
    }
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container {
    overflow: hidden
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container a, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container a {
    color: #161d26;
    font-family: Ubuntu;
    line-height: 24px
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container a img, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container a img {
    width: 100%;
    height: auto
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container a:hover, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container a:hover {
    color: #007acc
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container a .title_one_slide, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container a .title_one_slide {
    font-size: 17px;
    font-weight: 700;
    padding-top: 22px;
    display: block
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .front_3_tabs-container a .title_one_subslide, .front_new .front_3_tabs .front_3_tabs-subwrap2 .front_3_tabs-container a .title_one_subslide {
    font-size: 15px;
    font-weight: 400;
    padding-top: 19px;
    display: block
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .swiper-button-prev, .front_new .front_3_tabs .front_3_tabs-subwrap2 .swiper-button-prev {
    background: url(/thermevo_website_management/static/src/images/slider_prev_black.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    left: 23px;
    margin-top: -20px;
    position: absolute;
    top: 140px;
    width: 25px
}

.front_new .front_3_tabs .front_3_tabs-subwrap1 .swiper-button-next, .front_new .front_3_tabs .front_3_tabs-subwrap2 .swiper-button-next {
    background: url(/thermevo_website_management/static/src/images/slider_next_black.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    right: 23px;
    top: 140px;
    width: 25px
}

.front_new #iqub-container h2 {
    font-size: 40px;
    padding: 43px 0 0px 0;
    margin-bottom: 6px
}

.front_new #iqub-container .under-title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px
}

@media screen and (min-width: 960px) {
    .front_new #iqub-container .under-title {
        padding: 20px 0 54px 0
    }
}

.front_new #iqub-container #schema-container .bottom-text-container {
    display: flex;
    align-items: center;
    justify-content: center
}

@media screen and (min-width: 960px) {
    .front_new #iqub-container #schema-container .under-bottom-text {
        bottom: 80px
    }
}

.front_new #iqub-container .btns-container {
    padding: 35px 0px
}

.front_new #iqub-container .btns-container .red-btn-link {
    font-size: 20px;
    height: 57px;
    line-height: 57px
}

.front_new #iqub-container .btns-container .red-btn-link:before {
    height: 57px;
    right: -5px;
    width: 16px;
    z-index: 3;
    background-size: 13px 21px
}

.front_new #iqub-container .btns-container .red-btn-link:after {
    height: 57px;
    background-size: 28px 113px
}

.front_new #iqub-container .btns-container .red-btn-link:nth-child(2):after {
    border-top: 28px solid transparent;
    border-left: 28px solid #e62e4c;
    border-bottom: 28px solid transparent;
    right: -28px
}

.front_new #iqub-container .btns-container .red-btn-link:nth-child(2):hover:after {
    border-top: 28px solid transparent;
    border-left: 28px solid #ff4060;
    border-bottom: 28px solid transparent
}

.front_new #iqub-container .btns-container .red-btn-link:hover:after {
    background-position: 0 -57px
}

.front_new #iqub-container .section .content {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 33px
}

.front_new #iqub-container .bottom-blocks-container {
    padding-bottom: 50px
}

@media screen and (min-width: 1280px) {
    .front_new #iqub-container .bottom-blocks-container .block .block-body .t {
        padding-top: 7px;
        padding-bottom: 7px
    }
}

@media screen and (max-width: 639px) {
    .front_new #iqub-container .bottom-blocks-container {
        text-align: center
    }

    .front_new #iqub-container .bottom-blocks-container .block-image {
        margin-bottom: 0px !important;
        background-position: center !important
    }
}

.front_new #online-block {
    padding-bottom: 45px
}

.front_new #online-block .top {
    margin-top: 10px
}

.front_new #online-block .top .title {
    font-size: 40px
}

.front_new #online-block .top .text {
    padding-top: 1px;
    font-size: 20px;
    padding-bottom: 45px
}

.front_new #online-block .img_wrap img {
    width: 100%;
    height: auto
}

.front_new #online-block .mid {
    padding-bottom: 0px
}

.front_new #online-block .mid .block .title {
    padding: 10px 0;
    font-size: 20px
}

.front_new #online-block .mid .block .text {
    font-size: 16px
}

.front_new #online-block .link-container {
    display: inline-block;
    padding: 19px 0;
    width: 100%;
    padding-bottom: 50px
}

@media screen and (min-width: 960px) {
    .front_new #online-block .link-container .red-btn-link {
        font-size: 20px;
        height: 54px;
        line-height: 54px
    }

    .front_new #online-block .link-container .red-btn-link:before {
        height: 54px
    }

    .front_new #online-block .link-container .red-btn-link:after {
        content: '';
        border-top: 27px solid transparent;
        border-left: 27px solid #e62e4c;
        border-bottom: 27px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -27px;
        width: 0;
        z-index: 2
    }

    .front_new #online-block .link-container .red-btn-link:hover:after {
        border-top: 27px solid transparent;
        border-left: 27px solid #ff4060;
        border-bottom: 27px solid transparent
    }
}

.front_new #thermevoblog-block .mid {
    padding: 140px 0 0;
    position: relative;
    border-bottom: 0px
}

.front_new #thermevoblog-block .mid h2 {
    font-size: 40px;
    padding-top: 11px;
    padding-bottom: 21px
}

.front_new #thermevoblog-block .mid .content {
    font-size: 17px;
    line-height: 30px
}

.front_new #thermevoblog-block .mid h3 {
    font-size: 24px;
    margin-top: 47px;
    margin-bottom: 32px
}

.front_new #thermevoblog-block .mid .checked {
    font-size: 20px;
    min-height: 35px;
    line-height: 35px;
    padding-bottom: 15px
}

.front_new #thermevoblog-block .mid .content-bottom {
    margin-top: 19px !important
}

.front_new #thermevoblog-block .mid .content-bottom .red-btn-link {
    font-size: 24px;
    height: 60px;
    line-height: 60px
}

.front_new #thermevoblog-block .mid .content-bottom .red-btn-link:before {
    height: 60px
}

.front_new #thermevoblog-block .mid .content-bottom .red-btn-link:after {
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #e62e4c;
    border-bottom: 30px solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    width: 0;
    z-index: 2
}

.front_new #thermevoblog-block .mid .content-bottom .red-btn-link:hover:after {
    border-top: 30px solid transparent;
    border-left: 30px solid #ff4060;
    border-bottom: 30px solid transparent
}

.front_new #thermevoblog-block .mid .content-bottom .white-btn {
    height: 60px
}

.front_new #thermevoblog-block .mid::before {
    content: '';
    display: block;
    width: 76px;
    height: 76px;
    position: absolute;
    top: 66px;
    left: 0;
    background: url(/thermevo_website_management/static/src/images/chat.png) no-repeat center;
    background-size: contain
}

.front_new #thermevoblog-block .bot {
    border-top: 0px;
    padding-top: 20px;
    padding-bottom: 67px
}

.front_new #thermevoblog-block .bot .left {
    width: 181px
}

.front_new #thermevoblog-block .bot .left img {
    width: 100%;
    height: auto
}

.front_new #thermevoblog-block .bot .right {
    padding-left: 44px
}

@media screen and (max-width: 639px) {
    .front_new #thermevoblog-block .bot .right {
        padding: 0;
        width: 100%
    }
}

.front_new #thermevoblog-block .bot .right .title {
    color: #428bca;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 12px
}

.front_new #thermevoblog-block .bot .right .author {
    color: #5d6978;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 9px 0px;
    margin-bottom: 25px
}

.front_new #thermevoblog-block .bot .right .text {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #161d26
}

#iqub-container h2 {
    font-size: 40px;
    padding: 43px 0 20px 0
}

#iqub-container .under-title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px
}
