#cabinet-container.new_contacts .contacts_top_bg {
    background: url("/thermevo_website_management/static/src/images/contact_bg_man.jpg");
    height: 663px;
    background-position: center;
    background-size: cover
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper {
    display: flex;
    width: 100%;
    justify-content: space-between
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper {
        flex-wrap: wrap
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part {
    flex: 0 0 318px;
    padding-top: 215px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part {
        padding-top: 50px;
        flex: 0 0 48%
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part {
        flex: 0 0 100%;
        padding-top: 15px
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part .contact_border, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part .contact_border {
    border: 1px solid white;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 54px;
    height: 321px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part .contact_border, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part .contact_border {
        padding-top: 15px;
        height: auto;
        padding-bottom: 15px
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part .contact_border img, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part .contact_border img {
    margin-bottom: 44px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part .contact_border img, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part .contact_border img {
        margin-bottom: 10px;
        max-width: 50px;
        height: auto
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .left_part .contact_border .signature, #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .right_part .contact_border .signature {
    line-height: 24px
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part {
    text-align: center;
    color: #fff
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part {
        width: 100%;
        order: -1
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 74px;
    padding-bottom: 12px
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part h1 {
        padding-top: 20px
    }
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part .small_text {
    font-size: 20px;
    padding-bottom: 18px
}

#cabinet-container.new_contacts .contacts_top_bg .contact_top_wraper .center_part .big_text {
    font-size: 24px;
    font-weight: bold
}

#cabinet-container.new_contacts .contact_form .big_blue {
    text-align: center;
    color: #0079cb;
    font-size: 55px;
    font-weight: bold;
    padding-top: 22px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contact_form .big_blue {
        font-size: 40px
    }
}

#cabinet-container.new_contacts .contact_form .contact_info {
    color: #151d26;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    line-height: 35px;
    border-bottom: 1px solid #dee3e8;
    padding-bottom: 66px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contact_form .contact_info {
        font-size: 16px
    }
}

#cabinet-container.new_contacts .contact_form .contact_info span {
    font-size: 24px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contact_form .contact_info span {
        font-size: 20px
    }
}

#cabinet-container.new_contacts .contact_form form {
    max-width: 580px;
    margin: 0 auto
}

#cabinet-container.new_contacts .contact_form .form_title {
    text-align: center;
    color: #151d26;
    font-size: 40px;
    font-weight: bold;
    padding-top: 41px;
    padding-bottom: 40px
}

#cabinet-container.new_contacts .contact_form .form-item {
    display: inline-block;
    margin: 20px 0;
    margin-bottom: 0px;
    width: 100%
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-item {
        margin: 10px 0
    }
}

#cabinet-container.new_contacts .contact_form .form-item.error .error-text {
    display: block
}

#cabinet-container.new_contacts .contact_form .form-item.error input[type=text] {
    border: 1px solid #e62e4c
}

#cabinet-container.new_contacts .contact_form .form-item label {
    color: #5d6978;
    font-size: 13px;
    margin: 0
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-item label {
        font-size: 11px
    }
}

#cabinet-container.new_contacts .contact_form .form-item label span {
    color: #e62e4c;
    margin-right: 5px
}

#cabinet-container.new_contacts .contact_form .form-item input[type=text], #cabinet-container.new_contacts .contact_form .form-item input[type=email] {
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #161d26;
    color: #161d26;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
    width: 100%
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-item input[type=text], #cabinet-container.new_contacts .contact_form .form-item input[type=email] {
        font-size: 11px
    }
}

#cabinet-container.new_contacts .contact_form .form-item textarea {
    box-sizing: border-box;
    border: 1px solid #161d26;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #161d26;
    font-size: 15px;
    padding: 15px;
    width: 100%
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-item textarea {
        font-size: 13px
    }
}

#cabinet-container.new_contacts .contact_form .form-item .error-text {
    color: #e62e4c;
    display: none;
    font-size: 13px
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-item .error-text {
        font-size: 11px
    }
}

#cabinet-container.new_contacts .contact_form .form-actions {
    display: inline-block;
    height: 60px;
    margin: 23px 0 60px 0;
    float: right;
    width: auto
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-actions {
        margin: 12px 0 40px 0
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contact_form .form-actions {
        float: none
    }
}

#cabinet-container.new_contacts .contact_form .form-actions input[type=submit] {
    border-radius: 0px;
    background-color: #e62e4c;
    border: none;
    color: #fff;
    display: inline-block;
    float: left;
    padding: 0 40px 0 30px;
    font-size: 18px;
    height: 54px;
    line-height: 54px
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .form-actions input[type=submit] {
        font-size: 17px
    }
}

#cabinet-container.new_contacts .contact_form .form-actions .submit-arrow {
    display: inline-block;
    height: 54px;
    background: url("/thermevo_website_management/static/src/images/red_btn_after_60.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 33px;
    background-size: 37px 110px
}

#cabinet-container.new_contacts .contact_form .form-actions .submit-arrow:before {
    background: url("/thermevo_website_management/static/src/images/red_btn_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    height: 54px;
    position: absolute;
    left: -8px;
    width: 16px;
    z-index: 3;
    border-left-color: #fff
}

#cabinet-container.new_contacts .contact_form .form-actions:hover input[type=submit] {
    background-color: #ff4060
}

#cabinet-container.new_contacts .contact_form .form-actions:hover .submit-arrow {
    background-position: 0 -55px
}

#cabinet-container.new_contacts .contact_form .upload_file {
    float: left;
    width: auto;
    margin-top: 23px
}

@media screen and (max-width: 639px) {
    #cabinet-container.new_contacts .contact_form .upload_file {
        float: none;
        display: block
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.new_contacts .contact_form .upload_file {
        margin-top: 14px
    }
}

#cabinet-container.new_contacts .contact_form .upload_file .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

#cabinet-container.new_contacts .contact_form .upload_file .inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #5d6977;
    font-size: 15px;
    border: 1px solid #161d26;
    width: 231px;
    max-width: 100%;
    text-align: center;
    padding: 16px 10px;
    font-weight: 300
}

#cabinet-container.new_contacts .contact_form .upload_file .inputfile + label span {
    color: #5d6977
}

#cabinet-container.new_contacts .map_title {
    text-align: center;
    padding-top: 6px;
    clear: both
}

#cabinet-container.new_contacts .map_title .bit_title {
    color: #151d26;
    font-size: 40px;
    font-weight: bold
}

#cabinet-container.new_contacts .map_title .small_title {
    color: #151d26;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 38px
}

.bottom_contries {
    background: #005f9f
}

.bottom_contries .section {
    text-align: center;
    padding: 0px 130px;
    padding-top: 96px;
    padding-bottom: 17px
}

@media screen and (max-width: 639px) {
    .bottom_contries .section {
        padding-left: 0px;
        padding-right: 0px
    }
}

.bottom_contries .country {
    text-align: center;
    margin: 0px 18px;
    margin-bottom: 43px;
    display: inline-block
}

.bottom_contries .country .country_name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    display: block
}
