.portfolio {
    padding-top: 80px;
    color: #192029
}

@media screen and (max-width: 959px) {
    .portfolio {
        padding-top: 40px
    }
}

.portfolio h1 {
    font-family: Ubuntu;
    font-size: 53px;
    font-weight: 700;
    line-height: 64px
}

@media screen and (max-width: 959px) {
    .portfolio h1 {
        font-size: 30px;
        margin: 30px 0
    }
}

#cabinet-container .section .portfolio .portfolio_filter {
    padding-top: 22px
}

.portfolio .portfolio_filter ul {
    list-style: none;
    padding-left: 0px
}

.portfolio .portfolio_filter ul li {
    color: #192029;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    border: 1px solid #d3dae1;
    float: left;
    display: inline-block;
    padding: 11px 33px;
    margin-right: 7px;
    margin-bottom: 7px;
    cursor: pointer
}

@media screen and (max-width: 639px) {
    .portfolio .portfolio_filter ul li {
        width: 100%;
        float: none
    }
}

.portfolio .portfolio_filter ul li.active {
    color: white;
    background-color: #007acc;
    border: 1px solid #007acc
}

.portfolio .portfolio_filter ul li:hover {
    color: white;
    background-color: #e62e4c;
    border: 1px solid #e62e4c
}

.portfolio .portfolio_items, .portfolio .grid {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 16px
}

.portfolio .portfolio_items .item, .portfolio .grid .item {
    position: relative;
    max-width: 302px;
    margin-bottom: 8px
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    .portfolio .portfolio_items .item, .portfolio .grid .item {
        margin-bottom: 4px
    }
}

@media screen and (max-width: 959px) {
    .portfolio .portfolio_items .item, .portfolio .grid .item {
        max-width: 294px
    }
}

.portfolio .portfolio_items .item img, .portfolio .grid .item img {
    max-width: 100%;
    height: auto
}

.portfolio .portfolio_items .item.hidden, .portfolio .grid .item.hidden {
    display: none
}

.portfolio .portfolio_items .item .hover, .portfolio .grid .item .hover {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    display: none;
    padding: 10px;
    color: #e62e4c;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.9)
}

.portfolio .portfolio_items .item a:hover .hover, .portfolio .grid .item a:hover .hover {
    display: flex;
    align-items: center;
    justify-content: center
}
