#iqub-container.product_module .white-btn-link {
    background-color: white;
    color: #161d26;
    display: inline-block;
    font-weight: bold;
    padding: 0 42px 0 23px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none
}

#iqub-container.product_module .white-btn-link:hover {
    background-color: white;
    color: #161d26;
    text-decoration: none
}

@media screen and (max-width: 959px) {
    #iqub-container.product_module .white-btn-link {
        font-size: 17px;
        height: 60px;
        line-height: 60px
    }

    #iqub-container.product_module .white-btn-link:before {
        background: url("/thermevo_website_management/static/src/images/white_btn_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        height: 60px;
        position: absolute;
        right: 0px;
        width: 16px;
        z-index: 3;
        border-left-color: #fff
    }

    #iqub-container.product_module .white-btn-link:after {
        content: '';
        border-top: 30px solid transparent;
        border-left: 30px solid white;
        border-bottom: 30px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -30px;
        width: 0;
        z-index: 2
    }

    #iqub-container.product_module .white-btn-link:hover:after {
        border-top: 30px solid transparent;
        border-left: 30px solid white;
        border-bottom: 30px solid transparent
    }
}

@media screen and (min-width: 960px) {
    #iqub-container.product_module .white-btn-link {
        font-size: 24px;
        height: 60px;
        line-height: 60px
    }

    #iqub-container.product_module .white-btn-link:before {
        background: url("/thermevo_website_management/static/src/images/white_btn_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        height: 60px;
        position: absolute;
        right: 0px;
        width: 16px;
        z-index: 3
    }

    #iqub-container.product_module .white-btn-link:after {
        content: '';
        border-top: 30px solid transparent;
        border-left: 30px solid white;
        border-bottom: 30px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -30px;
        width: 0;
        z-index: 2
    }

    #iqub-container.product_module .white-btn-link:hover:after {
        border-top: 30px solid transparent;
        border-left: 30px solid white;
        border-bottom: 30px solid transparent
    }
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
    #iqub-container.product_module .white-btn-link {
        font-size: 17px
    }
}

#iqub-container.product_module .blue_bg {
    background: #004877;
    padding-top: 70px;
    padding-bottom: 30px
}

#iqub-container.product_module .top_items {
    display: flex;
    flex-wrap: wrap
}

#iqub-container.product_module .top_items .item {
    width: 50%;
    padding: 0px 30px;
    padding-bottom: 65px
}

@media screen and (max-width: 959px) {
    #iqub-container.product_module .top_items .item {
        width: 100%;
        padding: 0px;
        padding-bottom: 35px
    }
}

#iqub-container.product_module .top_items .item .item_img img {
    border-radius: 20px;
    width: 100%;
    height: auto
}

#iqub-container.product_module .top_items .item .item_title {
    color: white;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0px 50px;
    text-align: center;
    padding-top: 32px;
    letter-spacing: 1px
}

#iqub-container.product_module .top_items .item .item_link {
    text-align: center;
    padding-top: 28px
}

#iqub-container.product_module .top_items .item .item_link .black_upload_ico {
    display: inline-block;
    width: 27px;
    height: 35px;
    background: url("/thermevo_website_management/static/src/images/black_upload_ico.png");
    position: relative;
    top: 8px;
    margin-right: 23px
}

#iqub-container.product_module .video {
    padding-top: 77px
}

#iqub-container.product_module .video iframe {
    width: 100%;
    height: 520px
}

@media screen and (min-width: 1280px) {
    #iqub-container.product_module .video iframe {
        height: 720px
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
    #iqub-container.product_module .video iframe {
        height: 540px
    }
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    #iqub-container.product_module .video iframe {
        height: 360px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.product_module .video iframe {
        height: 180px
    }
}

#iqub-container.product_module .video .video_title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-bottom: 40px
}

#iqub-container.product_module .try {
    text-align: center;
    padding-top: 44px;
    padding-bottom: 87px
}

@media screen and (min-width: 960px) {
    #iqub-container.product_module .try .red-btn-link {
        font-size: 24px;
        height: 60px;
        line-height: 60px
    }

    #iqub-container.product_module .try .red-btn-link:before {
        height: 60px
    }

    #iqub-container.product_module .try .red-btn-link:after {
        content: '';
        border-top: 30px solid transparent;
        border-left: 30px solid #e62e4c;
        border-bottom: 30px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -30px;
        width: 0;
        z-index: 2
    }

    #iqub-container.product_module .try .red-btn-link:hover:after {
        border-top: 30px solid transparent;
        border-left: 30px solid #ff4060;
        border-bottom: 30px solid transparent
    }
}
