@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

@font-face {
    font-family: "FontAwesome";
    src: url('fonts/FontAwesome.otf?1497982940') format('opentype'), url('fonts/fontawesome-webfont.eot?1497982940') format('embedded-opentype'), url('fonts/fontawesome-webfont.svg?1497982940') format('svg'), url('fonts/fontawesome-webfont.ttf?1497982940') format('truetype'), url('fonts/fontawesome-webfont.woff?1497982940') format('woff'), url('fonts/fontawesome-webfont.woff2?1497982940') format('woff2')
}

.front_slider .swiper-slide .slider_title {
    font-size: 40px;
    line-height: 44px
}

@media screen and (max-width: 1279px) {
    .front_slider .swiper-slide .slider_title {
        margin-top: 50px
    }
}

@media screen and (max-width: 959px) {
    .front_slider .swiper-slide .slider_title {
        font-size: 26px;
        line-height: 30px;
        margin-top: 35px
    }
}

@media screen and (max-width: 959px) {
    .front_slider .swiper-slide .slider_title {
        font-size: 18px;
        line-height: 17px;
        margin-top: 30px
    }
}

#footer .footer-menu > li:nth-child(3) {
    float: left
}

@media screen and (max-width: 639px) {
    #footer .footer-menu > li:nth-child(3) > ul {
        display: block
    }
}

#header-menu-left li a {
    text-transform: uppercase;
    font-size: 16px
}

@media screen and (max-width: 959px) {
    #header-menu-left li a {
        font-size: 14px
    }
}

#header-menu-right li a {
    text-transform: uppercase;
    font-size: 16px
}

@media screen and (max-width: 959px) {
    #header-menu-right li a {
        font-size: 14px
    }
}

@media screen and (max-width: 959px) {
    .cart-link {
        width: 40px;
        padding: 0px;
        background-position: center
    }
}

#header .lk {
    float: left;
    margin-left: 20px
}

#header .lk span img {
    height: 40px
}

#header .messages {
    float: left;
    margin-left: 20px;
    background: url("/thermevo_website_management/static/src/images/header_message_ico.jpg");
    background-position: right 10px center;
    background-color: #005c99;
    line-height: 40px;
    background-repeat: no-repeat;
    padding-right: 35px;
    padding-left: 10px;
    color: white;
    font-size: 14px
}

#header .messages:hover {
    background-color: #0070bb
}

#header #unread_msg_header {
    background-color: #005c99
}

#header #unread_msg_header:hover {
    background-color: #0070bb
}

#cabinet-menu ul li.menu-logout a {
    background: url("/thermevo_website_management/static/src/images/login_icon.png");
    background-repeat: no-repeat;
    background-position: left 20px center
}

#cabinet-menu ul li.menu-logout a:hover {
    background-color: #e62e4c
}

.menu-btn-mobile-scrolled {
    background: url("/thermevo_website_management/static/src/images/menu_icon_mobile.png");
    background-color: #005c99;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
    float: left;
    height: 40px;
    margin-left: 20px;
    width: 40px
}

.search-form input[type=text] {
    padding-left: 0px
}

#wrapwrap.scrolled .search-form input[type=text] {
    padding-left: 25px
}

@media screen and (min-width: 640px) {
    #wrapwrap.scrolled {
        padding-top: 60px
    }

    #wrapwrap.scrolled .menu-btn-mobile-scrolled {
        display: inline-block
    }

    #wrapwrap.scrolled header {
        display: block !important;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 15
    }

    #wrapwrap.scrolled header:before {
        display: none
    }

    #wrapwrap.scrolled header .section {
        margin-top: 0px
    }

    #wrapwrap.scrolled header .header-top {
        padding: 10px 0px;
        min-height: 60px
    }

    #wrapwrap.scrolled header .header-top .left {
        padding-top: 6px;
        width: auto;
        margin-bottom: 0px
    }

    #wrapwrap.scrolled header .header-top .left img {
        height: 40px;
        width: auto
    }

    #wrapwrap.scrolled header .header-top .right {
        width: auto
    }

    #wrapwrap.scrolled header .messages {
        display: none
    }

    #wrapwrap.scrolled header .login-link {
        text-indent: -9999px;
        padding: 0px 20px;
        font-size: 0px;
        background-position: center
    }

    #wrapwrap.scrolled header .language-btn {
        display: none;
        padding-left: 10px
    }

    #wrapwrap.scrolled header .search-form {
        float: right
    }

    #wrapwrap.scrolled header .search-form input {
        padding-left: 10px
    }

    #wrapwrap.scrolled header .cart-link, #wrapwrap.scrolled header .messages, #wrapwrap.scrolled header .lk {
        margin-left: 10px
    }

    #wrapwrap.scrolled header .section {
        line-height: 0px;
        position: relative
    }

    #wrapwrap.scrolled header .section .header-menus-container {
        display: none !important
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li {
        margin-right: 15px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li a {
        font-size: 12px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li {
        margin-right: 15px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li:last-child {
        margin-right: 0px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li a {
        font-size: 12px
    }
}

@media screen and (min-width: 960px) {
    #wrapwrap.scrolled {
        padding-top: 60px
    }

    #wrapwrap.scrolled .menu-btn-mobile-scrolled {
        display: none
    }

    #wrapwrap.scrolled header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 15
    }

    #wrapwrap.scrolled header .section .header-menus-container {
        display: block !important
    }

    #wrapwrap.scrolled header .header-top {
        padding: 10px 0px;
        min-height: 60px
    }

    #wrapwrap.scrolled header .header-top .left {
        padding-top: 6px
    }

    #wrapwrap.scrolled header .header-top .left img {
        height: 27px;
        width: auto
    }

    #wrapwrap.scrolled header .messages {
        display: none
    }

    #wrapwrap.scrolled header .login-link {
        text-indent: -9999px;
        padding: 0px 20px;
        font-size: 0px;
        background-position: center
    }

    #wrapwrap.scrolled header .language-btn {
        display: none;
        padding-left: 10px
    }

    #wrapwrap.scrolled header .search-form {
        float: right
    }

    #wrapwrap.scrolled header .search-form input {
        padding-left: 10px
    }

    #wrapwrap.scrolled header .cart-link, #wrapwrap.scrolled header .messages, #wrapwrap.scrolled header .lk {
        margin-left: 10px
    }

    #wrapwrap.scrolled header .section {
        line-height: 0px;
        position: relative
    }

    #wrapwrap.scrolled header .section .header-menus-container {
        position: absolute;
        top: 0px;
        left: 215px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li {
        margin-right: 15px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li a {
        font-size: 12px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li {
        margin-right: 15px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li:last-child {
        margin-right: 0px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li a {
        font-size: 12px
    }
}

@media screen and (min-width: 1280px) {
    #wrapwrap.scrolled header:before {
        display: none
    }

    #wrapwrap.scrolled header .section {
        margin-top: 0px
    }

    #wrapwrap.scrolled header .section .header-menus-container {
        left: 215px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li {
        margin-right: 20px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-left li a {
        font-size: 14px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li {
        margin-right: 20px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li:last-child {
        margin-right: 0px
    }

    #wrapwrap.scrolled header .section .header-menus-container #header-menu-right li a {
        font-size: 14px
    }
}

@media screen and (min-width: 640px) {
    #wrapwrap.scrolled .blog_scroll .blog_link_fixed {
        position: fixed;
        top: 61px;
        width: 100%;
        left: 0px;
        z-index: 15;
        background: white;
        box-shadow: 0 4px 2px -2px #dbdbdb;
        border-top: 1px solid #d3dae1
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul {
        padding: 0px;
        display: block;
        padding: 0px 20px;
        box-sizing: border-box;
        width: 640px;
        margin: 0 auto
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul li {
        line-height: 60px;
        display: inline-block;
        padding-right: 30px
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul li a {
        font-weight: normal;
        font-size: 12px
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul li a:hover {
        color: #e62e4c
    }
}

@media screen and (min-width: 960px) {
    #wrapwrap.scrolled .blog_scroll .blog_link_fixed {
        top: 61px;
        border-top: 0px
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul {
        width: 960px;
        margin: 0 auto
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul li {
        padding-right: 35px
    }

    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul li a {
        font-size: 18px
    }
}

@media screen and (min-width: 1280px) {
    #wrapwrap.scrolled .blog_scroll .blog_link_fixed ul {
        width: 1280px;
        margin: 0 auto
    }
}

@media screen and (min-width: 640px) {
    #wrapwrap.scrolled.opened_mobile_menu header .section .header-menus-container {
        display: block !important
    }
}

@media screen and (min-width: 640px) {
    #wrapwrap.scrolled.opened_mobile_menu .menu-btn-mobile-scrolled {
        background: url("/thermevo_website_management/static/src/images/menu-btn-mobile-scrolled-opened.png");
        background-color: #005c99;
        background-repeat: no-repeat;
        background-position: center
    }
}

@media screen and (min-width: 640px) {
    #wrapwrap.scrolled.opened_mobile_menu .blog_scroll .blog_link_fixed {
        top: 127px
    }
}

@media screen and (min-width: 960px) {
    #wrapwrap.scrolled.opened_mobile_menu .blog_scroll .blog_link_fixed {
        top: 61px
    }
}

@media screen and (max-width: 959px) {
    .header-top .right, .wrap-search .right {
        width: 100%
    }

    .header-top .left, .wrap-search .left {
        margin-bottom: 29px;
        width: 100%
    }
}

.front_blog_slider .front-container {
    height: 450px;
    overflow: hidden;
    width: 100%
}

@media screen and (max-width: 959px) {
    .front_blog_slider .front-container {
        height: 330px
    }
}

@media screen and (max-width: 639px) {
    .mobile_opened .menu-btn-mobile {
        background: url("/thermevo_website_management/static/src/images/menu-btn-mobile-scrolled-opened.png");
        background-color: #005c99;
        background-repeat: no-repeat;
        background-position: center
    }

    #header .messages {
        display: none
    }
}

#cabinet-menu ul li.menu-logout .logout a {
    background: url("/thermevo_website_management/static/src/images/logout_icon.png?1460220134");
    background-repeat: no-repeat;
    background-position: left 20px center
}

#cabinet-menu ul li.menu-logout .logout a:hover {
    background-color: #e62e4c
}

@media screen and (max-width: 639px) {
    .website_blog #share .block-post .top-part {
        padding-bottom: 20px;
        float: none;
        margin: 0px
    }

    .website_blog #share .block-post .social-block {
        float: none;
        margin: 0px
    }
}

@media screen and (max-width: 639px) {
    #wrapwrap.scrolled header {
        display: block !important;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 15
    }

    #wrapwrap.scrolled header #header-menu-left li a, #wrapwrap.scrolled header #header-menu-right li a {
        line-height: 30px
    }
}

#cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.blue_point:hover, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.blue_point.active, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.red_point:hover, #cabinet-container.flixo .svg_wrap .chose_temperature .chose_temperature_left #chose_temperature_point > span.red_point.active {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    top: 6px;
    position: relative
}

.upload_preload_data, .upload_preload_data_start {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    top: 0px
}

.upload_preload_data .preload_data_text, .upload_preload_data_start .preload_data_text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    top: 29%
}

@media screen and (max-width: 639px) {
    .website_blog #share .block-post .top_part {
        padding-bottom: 20px;
        float: none;
        text-align: center;
        margin: 0 auto !important
    }

    .website_blog #share .block-post .social-block {
        float: none;
        text-align: center;
        margin: 0 auto;
        width: 100%
    }
}

@media screen and (max-width: 639px) {
    .header-top .left img {
        height: 20px;
        margin: 0 auto;
        display: block;
        width: auto
    }

    .header-top .left, .wrap-search .left {
        margin-bottom: 10px;
        width: 100%
    }

    /*.scrolled #header .section {*/
        /*margin-top: -25px*/
    /*}*/

    .header-top {
        padding-bottom: 10px
    }
}

.upload_preload_data.full_screen_preload {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    top: 0px
}

.upload_preload_data.full_screen_preload .preload_data_text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    top: 29%
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        border-top-color: rgba(0, 0, 0, 0.5)
    }
    50% {
        transform: rotate(180deg);
        border-top-color: rgba(0, 0, 255, 0.5)
    }
    100% {
        transform: rotate(360deg);
        border-top-color: rgba(0, 0, 0, 0.5)
    }
}

.upload_preload_data.full_screen_preload .loader1, .upload_preload_data.full_screen_preload .loader2, .upload_preload_data.full_screen_preload .loader3, .upload_preload_data.full_screen_preload .loader4 {
    position: relative;
    margin: 75px auto;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden
}

.upload_preload_data.full_screen_preload .loader1 div, .upload_preload_data.full_screen_preload .loader2 div, .upload_preload_data.full_screen_preload .loader3 div, .upload_preload_data.full_screen_preload .loader4 div {
    height: 100%
}

.upload_preload_data.full_screen_preload .loader1, .upload_preload_data.full_screen_preload .loader1 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 255, 0.5)
}

.upload_preload_data.full_screen_preload .loader2, .upload_preload_data.full_screen_preload .loader2 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
    border-top-color: rgba(0, 0, 255, 0.5);
    border-left-color: rgba(0, 0, 0, 0.5);
    border-right-color: rgba(0, 0, 0, 0.5)
}

.upload_preload_data.full_screen_preload .loader3, .upload_preload_data.full_screen_preload .loader3 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-left-color: rgba(0, 0, 255, 0.5);
    animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
    animation-duration: 3s
}

.upload_preload_data.full_screen_preload .loader4, .upload_preload_data.full_screen_preload .loader4 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
    border-radius: 50%;
    padding: 4px;
    animation: rotate2 4s infinite linear;
    top: 23%
}

.margintop40 {
    margin-top: 40px
}

#iqub-container .section .page-product.content .block_filtr {
    margin-top: 60px
}

#iqub-container .section .page-product.content .product-info .right .block_filtr:nth-child(1) {
    margin-top: 20px
}

#iqub-container .section .page-product.content .block_filtr label {
    padding-top: 22px;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 60px
}

.sidebar_add_cart {
    background: url("/thermevo_website_management/static/src/images/pic_busket.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
    padding-right: 15px;
    height: 40px;
    margin-right: 20px;
    display: inline-block;
    font-size: 13px !important;
    color: #161d26;
    line-height: 36px;
    border: 1px solid #d3dae1;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    width: auto !important
}

@media screen and (max-width: 959px) {
    .sidebar_add_cart {
        margin-bottom: 14px
    }
}

.sidebar_add_cart:hover {
    background-color: #d3dae1
}

.svg_wrap .notice_slider {
    z-index: 1000 !important
}

.svg_wrap .notice_slider .swiper-container {
    width: 100% !important
}

.svg_wrap .notice_slider .title {
    font-family: Ubuntu;
    line-height: 20px;
    font-size: 15px;
    font-weight: 300
}

.svg_wrap .notice_slider .text {
    font-family: Ubuntu;
    line-height: 20px;
    font-size: 15px;
    font-weight: 300
}

.svg_wrap .notice_slider .slider_img {
    height: 300px
}

.svg_wrap .notice_slider .slider_img img {
    max-width: 400px;
    width: auto;
    max-height: 300px
}

.svg_wrap .notice_slider .swiper-pagination-bullet {
    background: #c9e5fa;
    width: 9px;
    height: 9px
}

.svg_wrap .notice_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #e62e4c
}

.svg_wrap .notice_slider .swiper-container-horizontal > .swiper-pagination {
    bottom: 0px !important;
    position: relative !important;
    text-align: center !important
}

.svg_wrap .notice_slider .slider_navigation div {
    position: relative !important;
    top: 0px !important;
    margin-top: 0px !important;
    display: inline-block;
    opacity: 1 !important;
    line-height: 40px !important;
    padding: 0px 20px;
    width: auto !important;
    left: 0px !important;
    margin: 0px 2px;
    margin-top: 10px !important
}

.svg_wrap .notice_slider .slider_navigation .swiper-button-next {
    color: white;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    background: #007acc !important
}

.svg_wrap .notice_slider .slider_navigation .swiper-button-prev {
    color: white;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    background: #e62e4c !important
}

.svg_wrap .notice_slider .slider_close {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 44px;
    font-weight: 400;
    line-height: 44px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 35px
}

.svg_wrap .paint_button {
    width: 40px;
    height: 40px;
    background: url("/thermevo_website_management/static/src/images/paint_button.png") !important;
    padding: 0px 20px !important;
    text-indent: -9999px
}

.svg_wrap .paint_button.active {
    background-position: 0px 40px !important
}

.paint_button_color {
    display: none !important;
    width: 40px;
    height: 40px;
    padding: 0px 20px !important;
    text-indent: -9999px
}

body.painting svg {
    cursor: url("/thermevo_website_management/static/src/images/paint_cursor.png"), auto
}

body.painting .paint_button_color {
    display: inline-block !important
}

.basket.shopping_card .change_customer {
    padding-top: 40px
}

.basket.shopping_card .change_customer span {
    color: #5d6978;
    font-weight: 13px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px
}

.basket.shopping_card .change_customer .chosen-container {
    padding-left: 0px
}

.basket.shopping_card .change_customer .chosen-single {
    border-radius: 0px;
    border: 1px solid #161d26;
    width: 100%
}

.basket.shopping_card .change_customer .chosen-single b {
    width: 12px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    height: 6px;
    left: 50%;
    margin-left: -6px;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

.basket.shopping_card .change_customer .chosen-single div {
    width: 26px
}

.basket.shopping_card .change_customer .chosen-drop {
    margin: 0px;
    border: 1px solid #161d26;
    border-top: 0px
}

#footer {
    overflow: hidden;
    z-index: 20;
    position: relative
}

.header-top {
    overflow: visible;
    border-bottom: 1px solid #d3dae1;
    padding: 15px 0px;
    min-height: 72px
}

.header-top:before, .header-top:after {
    display: none
}

.header-top .cart-link {
    transition: background-color 0.3s linear
}

.header-top .cart-link.active {
    background-color: #901025
}

#iqub-container.new_blog .blog_links ul {
    display: block
}

#iqub-container.new_blog .blog_links ul li {
    display: block !important;
    line-height: 30px !important;
    width: 100% !important;
    float: none !important
}

#iqub-container.new_blog .blog_links ul li a {
    font-weight: normal !important
}

#svg_temp {
    display: none
}

.language-btn .language-menu li a {
    padding-right: 10px !important;
}