body #cabinet-container.thermevo-clients {
    padding-top: 80px;
    color: #192029
}

body #cabinet-container.thermevo-clients h1 {
    font-family: Ubuntu;
    font-size: 53px;
    font-weight: 700
}

@media screen and (max-width: 959px) {
    body #cabinet-container.thermevo-clients h1 {
        font-size: 30px;
        margin: 30px 0
    }
}

@media screen and (max-width: 959px) {
    body #cabinet-container.thermevo-clients {
        padding-top: 40px
    }
}

body #cabinet-container.thermevo-clients .profile-content {
    width: 100%
}

body #cabinet-container.thermevo-clients .my-articles-container {
    display: flex
}

@media screen and (max-width: 959px) {
    body #cabinet-container.thermevo-clients .my-articles-container {
        flex-wrap: wrap
    }

    body #cabinet-container.thermevo-clients .my-articles-container > div {
        width: 100%
    }
}

body #cabinet-container.thermevo-clients .my-articles-container .img_block {
    padding-bottom: 48px
}

body #cabinet-container.thermevo-clients .my-articles-container .img_block img {
    max-width: 881px;
    height: auto;
    width: 100%
}

body #cabinet-container.thermevo-clients .right_part {
    padding-left: 30px;
    margin-bottom: 36px;
    max-width: 400px
}

@media screen and (max-width: 959px) {
    body #cabinet-container.thermevo-clients .right_part {
        max-width: inherit;
        padding-left: 0px
    }
}

body #cabinet-container.thermevo-clients .right_part p {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px
}

body #cabinet-container.thermevo-clients .right_part h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px
}

body #cabinet-container.thermevo-clients .text_border {
    border: 1px solid #d3dae1;
    padding: 43px 0px;
    margin-bottom: 36px
}

@media screen and (max-width: 959px) {
    body #cabinet-container.thermevo-clients .text_border {
        max-width: 400px
    }
}

body #cabinet-container.thermevo-clients .text_border table tr td {
    padding: 0px 33px
}

body #cabinet-container.thermevo-clients .text_border table tr td:nth-child(1) {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px
}

body #cabinet-container.thermevo-clients .text_border table tr td:nth-child(2) {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px
}
