@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-It.eot"); /* IE9 */
    src: url("MyriadPro-It.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-It.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-It.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-It.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


