@font-face {
    font-family: "Myriad Pro Light";
    src: url("MyriadPro-Light.eot"); /* IE9 */
    src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-Light.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-Light.svg#Myriad Pro Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


