@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-Bold.eot"); /* IE9 */
    src: url("MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-Bold.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-Bold.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-It.eot"); /* IE9 */
    src: url("MyriadPro-It.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-It.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-It.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-It.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-Light.eot"); /* IE9 */
    src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-Light.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-Light.svg#Myriad Pro Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-Regular.eot"); /* IE9 */
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-Regular.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-Regular.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("MyriadPro-BoldIt.eot"); /* IE9 */
    src: url("MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyriadPro-BoldIt.woff") format("woff"), /* chrome, firefox */
    url("MyriadPro-BoldIt.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MyriadPro-BoldIt.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: bold;
}



